---
layout: bpage
---

<!-- Prototype intending to demonstrate what captions on article templates should look like -->

<!-- Left Rail -->
<div class="col xs-col-12 md-col-8 clearfix xs-px2 xs-pb5">

  <!-- header -->
  <div class="header xs-mb3">
    <h1 class="bold xs-text-2 md-text-1 xs-mb1">Turkey Arrested Kurdish Opposition Leaders And What’s Next May Be Worse</h1>
    <h3 class="xs-text-4 md-text-3 xs-mb1">“All the opposition that could put pressure on the government is under pressure by the government.”</h3>

    <p class="text-gray-lightest xs-text-6 xs-mb2">posted on Aug. 23, 2016, at 10:26 a.m.</p>

    <div class="xs-mb1 xs-text-5 clearfix flex xs-flex-align-center">
      <a href="#">
        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-04/27/12/user_images/webdr14/borzoudaragahi-v2-29743-1461775314-0_large.jpg" class="avatar xs-mr1 circle">
      </a>
      <div>
        <a href="/agh" class="bold">Borzou Daragahi</a>
        <span class="xs-block text-gray-lightest">BuzzFeed News Reporter</span>
      </div>
    </div>

    <div class="xs-mb1 xs-text-5 clearfix flex xs-flex-align-center">
      <a href="#">
        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-07/30/12/enhanced/webdr05/dateline-28112-1438273876-23.png" class="avatar xs-mr1">
      </a>
      <div>
        <span class="text-gray-lightest">Reporting From</span>
        <span class="xs-block text-gray-lightest">Istanbul, Turkey</span>
      </div>
    </div>
  </div>
  
  <!-- top share bar -->
  <div class="xs-hide md-block">
    {% include sharebar.html %}
  </div>

  <!-- article -->
  <div class="article xs-mb4">

    <!-- img subbuzz -->
    <div class="xs-mb3">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/4/10/asset/buzzfeed-prod-web08/sub-buzz-28139-1478270295-1.jpg?resize=625:489&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-text-6 xs-col-12 md-col-10 xs-mb05">
        <p class="text-gray-lighter italic xs-mb0">Adem Altan / AFP / Getty Images</p>
        <p class="xs-mb1">Co-leaders of the pro-Kurdish Peoples’ Democratic Party (HDP) Selahattin Demirtas and Figen Yuksekdag</p>
      </div>
      <div class="xs-inline-block md-hide">
        {% include sharebar--subbuzz.html %}
      </div>
    </div>
    
    <p class="xs-mb2">ISTANBUL — Police officers banged on Figen Yuksekdag’s front door at her apartment in Turkey’s capital, Ankara, just after midnight on Friday. Impatient, they unlocked the door from the outside then entered the home, waving a piece of paper, an arrest warrant for the co-leader of Turkey’s third-largest political party, the left-leaning Kurdish-led People’s Democratic Party, known by its Turkish acronym HDP.</p>

    <p class="xs-mb2">“What are you doing?” Yukesdag could be heard telling the lead police officer in a dramatic video posted online. “You are sneaking into my home like a bandit!”</p>

    <p class="xs-mb2">“Calm down,” a police officer insisted as he struggled to apprehend the 45-year-old journalist and women’s rights activist. “Please calm down.”</p>

    <p class="xs-mb2">“Your prosecutor is a bandit!” she replied. “You are a bandit.”</p>

    <p class="xs-mb2">The arrests capped a stunning two weeks during which Turkey’s authorities arrested the HDP co-mayors of Diyarbakir, the country’s largest Kurdish city, and editors of Cumhuriyet, the country’s largest opposition newspaper. Many independent analysts fear the high-profile arrests will sharpen security worries and damage the country’s economy. Turkey is currently at war in Syria with ISIS, which has launched repeated attacks inside the country. At the same time it is fighting Kurdish rebels in the southeast and in northern Syria, while threatening to intervene militarily in northern Iraq to halt the advances of Shia militias in and around Mosul.</p>

    <!-- img subbuzz -->
    <div class="xs-mb3 col xs-col-12 md-col-7 md-mb1 md-pr3">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/4/10/asset/buzzfeed-prod-web09/sub-buzz-7192-1478270425-1.jpg?resize=990:660&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-text-6 xs-col-12 xs-mb05">
        <p class="text-gray-lighter italic xs-mb0">Chris Mcgrath / Getty Images</p>
        <p class="xs-mb1">Supporters of the HDP chant slogans during a rally in Istanbul, Oct. 30, 2016.</p>
      </div>
      <div class="xs-inline-block md-hide">
        {% include sharebar--subbuzz.html %}
      </div>
    </div>

    <p class="xs-mb2">On Friday, the nation’s main stock index, down 8% this year, fell nearly 3%, while Turkey’s lira fell to fresh lows against the dollar and the euro. Federica Mogherini, foreign relations chief of the European Union, said she was “extremely worried” about the arrests; she met with Demirtas in June.</p>


    <p class="xs-mb2">The detentions follow a wave of mass arrests and firings of suspected supporters of Turkey’s failed July 15 coup attempt and other government opponents. The HDP, along with all of Turkey’s main political parties, strongly and quickly condemned the attempted coup, allegedly perpetrated by supporters of Fethullah Gulen, who leads an Islamic movement. Demirtas, in an interview a day after the coup failed, told BuzzFeed News he hoped the putsch effort would make Erdogan “a little easier with his opponents.”</p>

    <p class="xs-mb2">It remains unclear how far the government plans to escalate the confrontation with the HDP lawmakers, who represent the aspirations of many of the country’s large and restless Kurdish minority. One of the HDP lawmakers detained overnight, Zia Pir, has already been released, but a judge ordered both Yuksekdag and Demirtas to remain in jail. Warrants have also been issued for three other leaders who are either abroad or still at large.</p>

    <p class="xs-mb2">The HDP lawmakers were wanted on relatively minor charges of failing to respond to a summons for a long-standing investigation into allegations of stirring up unrest in the country’s southeast in October 2014, when ISIS attacked the Syrian Kurdish city of Kobane, Turkey’s semi-official Anatolia News Agency <a href="#">reported.</a></p>


    <!-- img subbuzz -->
    <div class="xs-mb3 col xs-col-12 md-col-4 md-mb1 md-pr3">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/4/10/asset/buzzfeed-prod-web09/sub-buzz-7279-1478270496-1.jpg?resize=990:665&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-text-6 xs-col-12 xs-mb05">
        <p class="text-gray-lighter italic xs-mb0">Chris Mcgrath / Getty Images</p>
        <p class="xs-mb1">Supporters of the HDP chant slogans during a rally in Istanbul, Oct. 30, 2016.</p>
      </div>
      <div class="xs-inline-block md-hide">
        {% include sharebar--subbuzz.html %}
      </div>
    </div>

    <p class="xs-mb2">The Turkish Parliament, controlled by members of President Recep Tayyip Erdogan’s Justice and Development Party (AKP), stripped lawmakers of immunity earlier this year, making the arrests possible. “Those who refuse to respond to the summons by prosecutors asking for their testimony in probes, and hence break the law, are taken into custody so as to take their testimony,” said a statement issued today by the press office of the prime minister.</p>

    <p class="xs-mb2">“The popular vote doesn’t give them a mandate to support terrorism,” Prime Minister Binali Yildirim <a href="#">told</a> reporters in Ankara on Friday. “If someone does wrong or something with terrorism, he or she should give an account for this.”</p>

    <p class="xs-mb2">The HDP sought to hold a press conference at its headquarters in Ankara after the arrests on Friday, but cancelled after it said journalists were barred from approaching the building. During a meeting in July, Demirtas told BuzzFeed News few Turkish journalists interviewed him any more for fear their employers would be pressured into dismissing them. His outlook for the country was bleak during a press conference with a small group of international journalists in March.</p>

    <p class="xs-mb2">“All the opposition that could put pressure on the government is under pressure by the government,” he said. “What’s happening in Syria and Iraq, Turkey is quickly becoming a part of that. It appears there’s a dark future coming. We would be really glad if we are wrong about it.”</p>

    <div class="fill-gray-lighter text-gray xs-p2 xs-mb3">Borzou Daragahi is a Middle East correspondent for BuzzFeed News and is based in Istanbul.<span class="xs-block xs-mt05">Contact Borzou Daragahi at <a href="#">borzou.daragahi@buzzfeed.com.</a></span>
    </div>
  </div>

  <!-- bottom share bar -->
  <div class="xs-hide md-block">
    {% include sharebar.html %}
  </div>

</div>

<!-- Right Rail -->
<div class="col xs-hide md-inline-block md-col-4 md-pl4 xs-text-center text-gray-lighter">

  <div class="xs-p4 xs-mb2 fill-gray-lighter xs-border-lighter rounded">
    Ad Module
  </div>

  <div class="xs-p4 xs-py6  xs-mb2 fill-gray-lighter xs-border-lighter rounded">
    News Module
  </div>

  <div class="xs-p4 xs-mb2 fill-gray-lighter xs-border-lighter rounded">
    Social Module
  </div>

  <div class="xs-p4 xs-mb2 fill-gray-lighter xs-border-lighter rounded">
    Newsletter Module
  </div>

  <div class="xs-p4 xs-py6 xs-mb2 fill-gray-lighter xs-border-lighter rounded">
    Top Posts
  </div>

</div>

