---
layout: bpage
---

<!-- Prototype intending to demonstrate what captions on article templates should look like -->

<!-- Left Rail -->
<div class="col xs-col-12 md-col-8 clearfix xs-px2 xs-pb5">

  <!-- header -->
  <h1 class="bold xs-text-2 md-text-1 xs-mb1">Turkey Arrested Kurdish Opposition Leaders And What’s Next May Be Worse</h1>
  <h3 class="xs-text-4 md-text-3 xs-mb1">“All the opposition that could put pressure on the government is under pressure by the government.”</h3>

  <p class="text-gray-lightest xs-text-6 xs-mb2">posted on Aug. 23, 2016, at 10:26 a.m.</p>

  <div class="xs-mb2 md-mb1 xs-text-5 clearfix flex xs-flex-align-center">
    <a href="#">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-04/27/12/user_images/webdr14/borzoudaragahi-v2-29743-1461775314-0_large.jpg" class="avatar xs-mr1 circle">
    </a>
    <div>
      <a href="/agh" class="bold">Borzou Daragahi</a>
      <span class="xs-block text-gray-lightest">BuzzFeed News Reporter</span>
    </div>
  </div>

  <div class="xs-mb2 md-mb3 xs-text-5 clearfix flex xs-flex-align-center">
    <a href="#">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-07/30/12/enhanced/webdr05/dateline-28112-1438273876-23.png" class="avatar xs-mr1">
    </a>
    <div>
      <span class="text-gray-lightest">Reporting From</span>
      <span class="xs-block text-gray-lightest">Istanbul, Turkey</span>
    </div>
  </div>
  
  <div class="xs-hide md-block">
    {% include sharebar.html %}
  </div>

  <!-- article -->
  <div>
  
    <!-- img subbuzz -->
    <div class="xs-mb3">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/4/10/asset/buzzfeed-prod-web08/sub-buzz-28139-1478270295-1.jpg?resize=625:489&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-text-6 xs-col-12 md-col-10 xs-mb05">
        <p class="text-gray-lighter italic xs-mb0">Adem Altan / AFP / Getty Images</p>
        <p class="xs-mb1">Co-leaders of the pro-Kurdish Peoples’ Democratic Party (HDP) Selahattin Demirtas and Figen Yuksekdag</p>
      </div>
      <div class="xs-inline-block md-hide">
        <div class="sharebar-subbuzz flex">
        <button class="sharebar-subbuzz--facebook bold rounded flex xs-flex-align-center xs-px1 xs-mr1" href="">
          <svg class="sharebar-subbuzz__svg xs-mr1 svg-facebook" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M427.245 262.99h-55.599v201.745h-83.24v-201.745h-41.62v-69.578h41.62v-41.62c0-56.87 23.51-90.547 90.229-90.547h55.599v69.578h-34.948c-25.734 0-27.641 9.849-27.641 27.958v34.63h62.906l-7.307 69.578zm72.755-159.49c0-50.516-40.984-91.5-91.5-91.5h-305c-50.516 0-91.5 40.984-91.5 91.5v305c0 50.516 40.984 91.5 91.5 91.5h305c50.516 0 91.5-40.984 91.5-91.5v-305z"/>
           </svg>
           <span>Share<span>
        </button>
        <button class="sharebar-subbuzz--pinterest bold rounded flex xs-flex-align-center xs-px1" href="">
          <svg class="sharebar-subbuzz__svg xs-mr1 svg-pinterest" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <path d="M500 256c0-134.708-109.292-244-244-244s-244 109.292-244 244c0 100.078 60.047 185.859 146.146 223.667-.635-17.156-.318-37.807 4.13-56.234 0 0 4.766-19.698 31.453-132.802-7.943-15.568-7.943-38.76-7.943-38.76 0-36.219 20.969-63.224 47.021-63.224 22.24 0 33.042 16.839 33.042 36.854 0 22.24-14.297 55.599-21.604 86.417-6.036 26.052 13.026 47.021 38.443 47.021 46.385 0 77.521-59.411 77.521-129.625 0-53.693-36.219-93.724-101.667-93.724-74.026 0-120.094 55.281-120.094 116.917 0 21.286 6.354 36.219 16.203 47.974 4.448 5.401 5.083 7.307 3.495 13.661-1.271 4.448-3.813 15.25-5.083 19.38-1.589 6.354-6.672 8.578-12.073 6.354-33.995-13.979-49.88-51.469-49.88-93.406 0-69.26 58.458-152.5 174.104-152.5 93.406 0 154.724 67.672 154.724 139.792 0 95.948-53.375 167.432-131.849 167.432-26.37 0-51.151-14.297-59.411-30.5-14.297 56.234-17.156 67.036-17.156 67.036-5.083 18.745-15.568 37.49-24.781 52.104 22.24 6.672 45.115 10.167 69.26 10.167 134.708 0 244-109.292 244-244z"/>         </svg>

           <span>Pin</span>
        </button>
        </div>
      </div>
    </div>
    
    <p class="xs-mb2">ISTANBUL — Police officers banged on Figen Yuksekdag’s front door at her apartment in Turkey’s capital, Ankara, just after midnight on Friday. Impatient, they unlocked the door from the outside then entered the home, waving a piece of paper, an arrest warrant for the co-leader of Turkey’s third-largest political party, the left-leaning Kurdish-led People’s Democratic Party, known by its Turkish acronym HDP.</p>

    <p class="xs-mb2">“What are you doing?” Yukesdag could be heard telling the lead police officer in a dramatic video posted online. “You are sneaking into my home like a bandit!”</p>

    <p class="xs-mb2">“Calm down,” a police officer insisted as he struggled to apprehend the 45-year-old journalist and women’s rights activist. “Please calm down.”</p>

    <p class="xs-mb2">“Your prosecutor is a bandit!” she replied. “You are a bandit.”</p>

    <p class="xs-mb2">The arrests capped a stunning two weeks during which Turkey’s authorities arrested the HDP co-mayors of Diyarbakir, the country’s largest Kurdish city, and editors of Cumhuriyet, the country’s largest opposition newspaper. Many independent analysts fear the high-profile arrests will sharpen security worries and damage the country’s economy. Turkey is currently at war in Syria with ISIS, which has launched repeated attacks inside the country. At the same time it is fighting Kurdish rebels in the southeast and in northern Syria, while threatening to intervene militarily in northern Iraq to halt the advances of Shia militias in and around Mosul.</p>

    <!-- img subbuzz -->
    <div class="xs-mb3 col xs-col-12 md-col-7 md-mb1 md-pr3">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/4/10/asset/buzzfeed-prod-web09/sub-buzz-7192-1478270425-1.jpg?resize=990:660&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-text-6 xs-col-12 xs-mb05">
        <p class="text-gray-lighter italic xs-mb0">Chris Mcgrath / Getty Images</p>
        <p class="xs-mb1">Supporters of the HDP chant slogans during a rally in Istanbul, Oct. 30, 2016.</p>
      </div>
      <div class="xs-inline-block md-hide">
        <div class="sharebar-subbuzz flex">
        <button class="sharebar-subbuzz--facebook bold rounded flex xs-flex-align-center xs-px1 xs-mr1" href="">
          <svg class="sharebar-subbuzz__svg xs-mr1 svg-facebook" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M427.245 262.99h-55.599v201.745h-83.24v-201.745h-41.62v-69.578h41.62v-41.62c0-56.87 23.51-90.547 90.229-90.547h55.599v69.578h-34.948c-25.734 0-27.641 9.849-27.641 27.958v34.63h62.906l-7.307 69.578zm72.755-159.49c0-50.516-40.984-91.5-91.5-91.5h-305c-50.516 0-91.5 40.984-91.5 91.5v305c0 50.516 40.984 91.5 91.5 91.5h305c50.516 0 91.5-40.984 91.5-91.5v-305z"/>
           </svg>
           <span>Share<span>
        </button>
        <button class="sharebar-subbuzz--pinterest bold rounded flex xs-flex-align-center xs-px1" href="">
          <svg class="sharebar-subbuzz__svg xs-mr1 svg-pinterest" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <path d="M500 256c0-134.708-109.292-244-244-244s-244 109.292-244 244c0 100.078 60.047 185.859 146.146 223.667-.635-17.156-.318-37.807 4.13-56.234 0 0 4.766-19.698 31.453-132.802-7.943-15.568-7.943-38.76-7.943-38.76 0-36.219 20.969-63.224 47.021-63.224 22.24 0 33.042 16.839 33.042 36.854 0 22.24-14.297 55.599-21.604 86.417-6.036 26.052 13.026 47.021 38.443 47.021 46.385 0 77.521-59.411 77.521-129.625 0-53.693-36.219-93.724-101.667-93.724-74.026 0-120.094 55.281-120.094 116.917 0 21.286 6.354 36.219 16.203 47.974 4.448 5.401 5.083 7.307 3.495 13.661-1.271 4.448-3.813 15.25-5.083 19.38-1.589 6.354-6.672 8.578-12.073 6.354-33.995-13.979-49.88-51.469-49.88-93.406 0-69.26 58.458-152.5 174.104-152.5 93.406 0 154.724 67.672 154.724 139.792 0 95.948-53.375 167.432-131.849 167.432-26.37 0-51.151-14.297-59.411-30.5-14.297 56.234-17.156 67.036-17.156 67.036-5.083 18.745-15.568 37.49-24.781 52.104 22.24 6.672 45.115 10.167 69.26 10.167 134.708 0 244-109.292 244-244z"/>         </svg>

           <span>Pin</span>
        </button>
        </div>
      </div>
    </div>

    <p class="xs-mb2">On Friday, the nation’s main stock index, down 8% this year, fell nearly 3%, while Turkey’s lira fell to fresh lows against the dollar and the euro. Federica Mogherini, foreign relations chief of the European Union, said she was “extremely worried” about the arrests; she met with Demirtas in June.</p>


    <p class="xs-mb2">The detentions follow a wave of mass arrests and firings of suspected supporters of Turkey’s failed July 15 coup attempt and other government opponents. The HDP, along with all of Turkey’s main political parties, strongly and quickly condemned the attempted coup, allegedly perpetrated by supporters of Fethullah Gulen, who leads an Islamic movement. Demirtas, in an interview a day after the coup failed, told BuzzFeed News he hoped the putsch effort would make Erdogan “a little easier with his opponents.”</p>

    <p class="xs-mb2">It remains unclear how far the government plans to escalate the confrontation with the HDP lawmakers, who represent the aspirations of many of the country’s large and restless Kurdish minority. One of the HDP lawmakers detained overnight, Zia Pir, has already been released, but a judge ordered both Yuksekdag and Demirtas to remain in jail. Warrants have also been issued for three other leaders who are either abroad or still at large.</p>

    <p class="xs-mb2">The HDP lawmakers were wanted on relatively minor charges of failing to respond to a summons for a long-standing investigation into allegations of stirring up unrest in the country’s southeast in October 2014, when ISIS attacked the Syrian Kurdish city of Kobane, Turkey’s semi-official Anatolia News Agency <a href="#">reported.</a></p>


    <!-- img subbuzz -->
    <div class="xs-mb3 col xs-col-12 md-col-4 md-mb1 md-pr3">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/4/10/asset/buzzfeed-prod-web09/sub-buzz-7279-1478270496-1.jpg?resize=990:665&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-text-6 xs-col-12 xs-mb05">
        <p class="text-gray-lighter italic xs-mb0">Chris Mcgrath / Getty Images</p>
        <p class="xs-mb1">Supporters of the HDP chant slogans during a rally in Istanbul, Oct. 30, 2016.</p>
      </div>
      <div class="xs-inline-block md-hide">
        <div class="sharebar-subbuzz flex">
        <button class="sharebar-subbuzz--facebook bold rounded flex xs-flex-align-center xs-px1 xs-mr1" href="">
          <svg class="sharebar-subbuzz__svg xs-mr1 svg-facebook" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M427.245 262.99h-55.599v201.745h-83.24v-201.745h-41.62v-69.578h41.62v-41.62c0-56.87 23.51-90.547 90.229-90.547h55.599v69.578h-34.948c-25.734 0-27.641 9.849-27.641 27.958v34.63h62.906l-7.307 69.578zm72.755-159.49c0-50.516-40.984-91.5-91.5-91.5h-305c-50.516 0-91.5 40.984-91.5 91.5v305c0 50.516 40.984 91.5 91.5 91.5h305c50.516 0 91.5-40.984 91.5-91.5v-305z"/>
           </svg>
           <span>Share<span>
        </button>
        <button class="sharebar-subbuzz--pinterest bold rounded flex xs-flex-align-center xs-px1" href="">
          <svg class="sharebar-subbuzz__svg xs-mr1 svg-pinterest" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <path d="M500 256c0-134.708-109.292-244-244-244s-244 109.292-244 244c0 100.078 60.047 185.859 146.146 223.667-.635-17.156-.318-37.807 4.13-56.234 0 0 4.766-19.698 31.453-132.802-7.943-15.568-7.943-38.76-7.943-38.76 0-36.219 20.969-63.224 47.021-63.224 22.24 0 33.042 16.839 33.042 36.854 0 22.24-14.297 55.599-21.604 86.417-6.036 26.052 13.026 47.021 38.443 47.021 46.385 0 77.521-59.411 77.521-129.625 0-53.693-36.219-93.724-101.667-93.724-74.026 0-120.094 55.281-120.094 116.917 0 21.286 6.354 36.219 16.203 47.974 4.448 5.401 5.083 7.307 3.495 13.661-1.271 4.448-3.813 15.25-5.083 19.38-1.589 6.354-6.672 8.578-12.073 6.354-33.995-13.979-49.88-51.469-49.88-93.406 0-69.26 58.458-152.5 174.104-152.5 93.406 0 154.724 67.672 154.724 139.792 0 95.948-53.375 167.432-131.849 167.432-26.37 0-51.151-14.297-59.411-30.5-14.297 56.234-17.156 67.036-17.156 67.036-5.083 18.745-15.568 37.49-24.781 52.104 22.24 6.672 45.115 10.167 69.26 10.167 134.708 0 244-109.292 244-244z"/>         </svg>

           <span>Pin</span>
        </button>
        </div>
      </div>
    </div>

    <p class="xs-mb2">The Turkish Parliament, controlled by members of President Recep Tayyip Erdogan’s Justice and Development Party (AKP), stripped lawmakers of immunity earlier this year, making the arrests possible. “Those who refuse to respond to the summons by prosecutors asking for their testimony in probes, and hence break the law, are taken into custody so as to take their testimony,” said a statement issued today by the press office of the prime minister.</p>

    <p class="xs-mb2">“The popular vote doesn’t give them a mandate to support terrorism,” Prime Minister Binali Yildirim <a href="#">told</a> reporters in Ankara on Friday. “If someone does wrong or something with terrorism, he or she should give an account for this.”</p>

    <p class="xs-mb2">The HDP sought to hold a press conference at its headquarters in Ankara after the arrests on Friday, but cancelled after it said journalists were barred from approaching the building. During a meeting in July, Demirtas told BuzzFeed News few Turkish journalists interviewed him any more for fear their employers would be pressured into dismissing them. His outlook for the country was bleak during a press conference with a small group of international journalists in March.</p>

    <p class="xs-mb2">“All the opposition that could put pressure on the government is under pressure by the government,” he said. “What’s happening in Syria and Iraq, Turkey is quickly becoming a part of that. It appears there’s a dark future coming. We would be really glad if we are wrong about it.”</p>

    <div class="fill-gray-lighter text-gray xs-p2 xs-mb3">Borzou Daragahi is a Middle East correspondent for BuzzFeed News and is based in Istanbul.<span class="xs-block xs-mt05">Contact Borzou Daragahi at <a href="#">borzou.daragahi@buzzfeed.com.</a></span>
    </div>
    
  </div>

  <div class="xs-hide md-block">
    {% include sharebar.html %}
  </div>

</div>

<!-- Right Rail -->
<div class="col xs-hide md-inline-block md-col-4 md-pl4 xs-text-center text-gray-lighter">

  <div class="xs-p4 xs-mb2 fill-yellow-lighter xs-border-lighter rounded">
    Ad Module
  </div>

  <div class="xs-p4 xs-py6  xs-mb2 fill-yellow-lighter xs-border-lighter rounded">
    News Module
  </div>

  <div class="xs-p4 xs-mb2 fill-yellow-lighter xs-border-lighter rounded">
    Social Module
  </div>
</div>

