---
layout: bpage-article-feature
---

<!-- /////////////////////////////////////////////////////////////// -->
<!-- ///// V1 VARIANT OF BUZZ-ARTICLE ////////////////////////////// -->
<!-- ///// smaller headline and subbuzz header text size /////////// -->
<!-- /////////////////////////////////////////////////////////////// -->


<div class="clearfix wrapper xs-mx-auto xs-mb4 xs-relative">
  <!-- header group -->
  <div class="header xs-mb3 col xs-col-12 md-col-8 clearfix xs-mb3 md-offset-2 xs-px2 md-px0">
    <h3 class="bold text-gray-lighter xs-text-3 md-text-2 xs-mb1">Developing...</h3>
    <h1 class="bold xs-mb1 buzz-title">Live Updates: Trump's Pick To Replace Flynn As National Security Adviser Turns Down Offer</h1>
    <h3 class="xs-text-4 md-text-3 regular xs-mb2">Connections between President Trump’s administration and campaign aides with Russians are roiling the nation. Catch the latest here.</h3>
    <p class="text-gray-lightest xs-text-6 xs-mb1">posted on Nov. 28, 2016, at 3:45 p.m.</p>
    <p class="text-gray-lightest xs-text-6 xs-mb2">Updated on Nov. 29, 2016, at 3:45 p.m.</p>

    <div class="xs-mb1 xs-text-5 clearfix flex xs-flex-align-center">
      <a href="#">
        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-12/11/16/user_images/webdr02/annierosestrasser-v2-32735-1449871189-0_large.png?downsize=715" class="xs-block avatar xs-mr1 circle">
      </a>
      <div>
        <a href="/agh" class="bold">BuzzFeed News</a>
        <span class="xs-block text-gray-lightest">BuzzFeed Staff</span>
      </div>
    </div>
  </div>

  <!-- top share bar -->
  <div class="xs-hide md-block xs-mb4col xs-col-12 md-col-8 clearfix xs-mb4 md-offset-2 xs-px2 md-px0">{% include sharebar.html %}</div>

  <!-- article -->
  <div class="article article-17 xs-mb4">

    <div class="xs-mb4">
      <img class="xs-col-12 xs-mb05 xs-block xs-px2 sm-px3 lg-px2" src="https://img.buzzfeed.com/buzzfeed-static/static/2017-02/16/16/asset/buzzfeed-prod-fastlane-03/sub-buzz-11932-1487280044-2.jpg?downsize=715:*&output-format=auto&output-quality=auto" />
      <p class="text-gray-lightest italic xs-text-6 col xs-col-12 md-col-8 clearfix xs-mb4 md-offset-2 xs-px2 md-px0">AP Photo/Pablo Martinez Monsivais</p>
    </div>

    <div class="col xs-col-12 md-col-8 clearfix xs-mb3 md-offset-2 xs-px2 md-px0">
      <h2 class="xs-text-2 md-text-1 bold xs-mb2">Here's the latest intrigue on the Trump administration and Russia:</h2>
      <ul>
        <li class="xs-mb2">The United States is facing political chaos as more reports emerge tying President Donald Trump’s aides to Russia. An FBI investigation is underway, members of Congress are calling for reviews, and the public, reporters, and intelligence community are looking for clarity amid seeming contradictions.</li>
        <li class="xs-mb2">Members of President Trump’s campaign had repeated contact with Russian intelligence officials, according to phone records and call intercepts first reported by The New York Times.</li>
        <li class="xs-mb2">The calls were intercepted around the time the intelligence community found evidence that the Russians had tried to interfere with the presidential election to get Trump elected by hacking into the Democratic National Committee’s computers and releasing emails.</li>
      </ul>
    </div>


    <div class="clearfix">

  <h2 class="xs-col-12 md-col-8 clearfix xs-mb2 md-offset-2 bold xs-text-2 md-text-1 xs-px2 md-px0">Updates</h2>


  <!-- UPDATE ONE -->
  <div class="xs-border-top-lighter xs-col-11 xs-mx-auto md-col-8 clearfix xs-mb2 md-offset-2"></div>
  <div class="col xs-col-12 md-col-8 clearfix xs-mb3 md-offset-2 flex xs-flex-column md-flex-row xs-px2 md-px0">
    <div class="update-timestamp flex xs-flex-align-center xs-mb2 md-mb0">
      <svg class="svg-4 svg-gray-lightest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        <title>Clock</title>
        <path d="M19 0C8.5 0 0 8.5 0 19s8.5 19 19 19 19-8.5 19-19S29.5 0 19 0zm0 34c-8.3 0-15-6.7-15-15S10.7 4 19 4s15 6.7 15 15-6.7 15-15 15zm7.6-10.2c.8.8.8 2 0 2.8-.4.4-.9.6-1.4.6s-1-.2-1.4-.6l-6.2-6.2c-.4-.4-.6-.8-.6-1.4v-8.8c0-1.1.9-2 2-2s2 .9 2 2v7.9l5.6 5.7z"/>
      </svg>
      <p class="text-gray-lightest xs-text-5 xs-ml1 sans-type">Posted at 11:14 p.m., Feb. 15</p>
    </div>
    <div class="update-subbuzz-share flex xs-flex-align-center">
      <div class="fill-gray update-share-buttons">
        <svg class="svg-5 svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Facebook</title>
          <path d="M36.5 0h-35C.3 0 0 .3 0 1.5v34.9C0 37.7.3 38 1.5 38h18.9V23.4h-5.8v-5.8h5.8v-4.4c0-5.1 2.8-7.8 7.4-7.8 2.2 0 4.3.2 4.3.2v4.7h-2.8c-2.5 0-3.1 1.8-3.1 3.5v3.8h6l-.8 5.8h-5.3V38h10.2c1.2 0 1.5-.3 1.5-1.5v-35C38 .3 37.7 0 36.5 0z"/>
        </svg>
      </div>
      <div class="fill-gray update-share-buttons">
        <svg class="svg-white svg-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        	<title>Twitter</title>
        	<path d="M37.9 8c-1.4.6-2.9 1-4.4 1.2 1.6-1 2.8-2.5 3.4-4.3-1.5.9-3.1 1.5-4.9 1.9-1.4-1.5-3.4-2.4-5.6-2.4-4.3 0-7.7 3.5-7.7 7.7 0 .6.1 1.2.2 1.8-6.4-.3-12.1-3.4-15.9-8.1-.7 1.1-1 2.5-1 3.9 0 2.7 1.2 5 3.2 6.4-1.3 0-2.3-.4-3.7-1v.1c0 3.7 2.9 6.9 6.4 7.6-.9.2-1.4.3-2.1.3-.5 0-.9 0-1.4-.1 1 3.1 3.9 5.3 7.2 5.4-2.6 2.1-6 3.3-9.6 3.3-.6 0-1.2 0-1.8-.1C3.6 33.7 7.7 35 12 35c14.2 0 22-11.8 22-22v-1c1.5-1.1 2.8-2.5 3.9-4"/>
        </svg>
      </div>
      <div class="fill-gray update-share-buttons">
        <svg class="svg-5 svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        	<title>Link</title>
        	<path d="M19.7 31.5l-3.8 3.8c-3.8 3.8-10 3.6-13.6-.5-3.3-3.7-2.9-9.4.7-12.9l7.1-7.1c3.1-3 7.8-3.9 11.6-1.8 1 .6 1.9 1.3 2.5 2.1.6.7.5 1.8-.1 2.4l-.2.2c-.8.8-2 .6-2.7-.2-.3-.3-.5-.6-.9-.8-2.2-1.6-5.3-1.3-7.2.7l-7.5 7.5c-2.2 2.2-2.1 5.9.4 8 2.2 1.8 5.4 1.5 7.4-.5l3.6-3.6c.5-.5 1.2-.7 1.8-.5h.1c1.4.3 1.9 2.1.8 3.2zM35.8 3.2C32.2-.9 26-1 22.2 2.7l-3.8 3.8c-1.1 1.1-.6 2.9.9 3.2h.1c.7.2 1.3 0 1.8-.5l3.6-3.6c2-2 5.2-2.3 7.4-.5 2.5 2 2.6 5.8.4 8l-7.5 7.5c-1.9 1.9-5 2.3-7.2.7-.3-.2-.6-.5-.9-.8-.7-.8-1.9-.9-2.7-.2l-.3.2c-.7.7-.7 1.7-.1 2.4.7.8 1.5 1.5 2.5 2.1 3.8 2.1 8.5 1.2 11.6-1.8l7.1-7.1c3.5-3.5 3.9-9.2.7-12.9z"/>
        </svg>
      </div>
      <div class="fill-gray update-share-buttons">
        <svg class="svg-5 svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        	<title>Mail</title>
        	<path d="M0 7v24h38V7H0zm33.3 4l-11.9 8.1c-1.5 1-3.4 1-4.9 0L4.7 11h28.6zM4 27V14.2l10.9 7.4c1.3.9 2.7 1.3 4.1 1.3s2.9-.4 4.1-1.3L34 14.2V27H4z"/>
        </svg>
      </div>
    </div>
  </div>

  <div class="xs-col-12 md-col-8 clearfix xs-mb4 md-offset-2 xs-px2 md-px0">
    <h2 class="xs-text-2 bold xs-mb1">Flynn allegedly denied to FBI that he talked about US sanctions with Russia’s ambassador; FBI reportedly not seeking charges</h2>
    <img class="xs-mb05 xs-block xs-col-12" src="https://img.buzzfeed.com/buzzfeed-static/static/2017-02/16/16/asset/buzzfeed-prod-fastlane-01/sub-buzz-30897-1487282200-1.jpg?resize=625:416&no-auto" />
    <p class="xs-text-6 text-gray-lightest italic xs-mb2">Getty Images</p>
    <p class="xs-mb2">Former National Security Advisor Michael Flynn denied to FBI agents that he discussed US sanctions with Russia’s ambassador before Donald Trump took office, putting him in possible legal jeopardy, the Washington Post reported.</p>
    <p class="xs-mb2">Flynn spoke with Russian Ambassador Sergey Kislyak after Trump’s November election, discussing in part the Obama administration’s sanctions against the country for meddling in the presidential election.</p>
    <p class="xs-mb2">Flynn offered his letter of resignation to Trump after reports surfaced that he had misled Vice President Mike Pence about his conversations with Kislyak.</p>
  </div>


  <!-- UPDATE TWO -->
  <div class="xs-border-top-lighter xs-col-11 xs-mx-auto md-col-8 clearfix xs-mb2 md-offset-2"></div>
  <div class="xs-col-12 md-col-8 clearfix xs-mb3 md-offset-2 flex xs-flex-column md-flex-row xs-px2 md-px0">
    <div class="update-timestamp flex xs-flex-align-center xs-mb2 md-mb0">
      <svg class="svg-4 svg-gray-lightest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        <title>Clock</title>
        <path d="M19 0C8.5 0 0 8.5 0 19s8.5 19 19 19 19-8.5 19-19S29.5 0 19 0zm0 34c-8.3 0-15-6.7-15-15S10.7 4 19 4s15 6.7 15 15-6.7 15-15 15zm7.6-10.2c.8.8.8 2 0 2.8-.4.4-.9.6-1.4.6s-1-.2-1.4-.6l-6.2-6.2c-.4-.4-.6-.8-.6-1.4v-8.8c0-1.1.9-2 2-2s2 .9 2 2v7.9l5.6 5.7z"/>
      </svg>
      <p class="text-gray-lightest xs-text-5 xs-ml1 sans-type">Posted at 9:52 p.m., Feb. 15</p>
    </div>
    <div class="update-subbuzz-share flex xs-flex-align-center">
      <div class="fill-gray update-share-buttons">
        <svg class="svg-5 svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Facebook</title>
          <path d="M36.5 0h-35C.3 0 0 .3 0 1.5v34.9C0 37.7.3 38 1.5 38h18.9V23.4h-5.8v-5.8h5.8v-4.4c0-5.1 2.8-7.8 7.4-7.8 2.2 0 4.3.2 4.3.2v4.7h-2.8c-2.5 0-3.1 1.8-3.1 3.5v3.8h6l-.8 5.8h-5.3V38h10.2c1.2 0 1.5-.3 1.5-1.5v-35C38 .3 37.7 0 36.5 0z"/>
        </svg>
      </div>
      <div class="fill-gray update-share-buttons">
        <svg class="svg-white svg-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        	<title>Twitter</title>
        	<path d="M37.9 8c-1.4.6-2.9 1-4.4 1.2 1.6-1 2.8-2.5 3.4-4.3-1.5.9-3.1 1.5-4.9 1.9-1.4-1.5-3.4-2.4-5.6-2.4-4.3 0-7.7 3.5-7.7 7.7 0 .6.1 1.2.2 1.8-6.4-.3-12.1-3.4-15.9-8.1-.7 1.1-1 2.5-1 3.9 0 2.7 1.2 5 3.2 6.4-1.3 0-2.3-.4-3.7-1v.1c0 3.7 2.9 6.9 6.4 7.6-.9.2-1.4.3-2.1.3-.5 0-.9 0-1.4-.1 1 3.1 3.9 5.3 7.2 5.4-2.6 2.1-6 3.3-9.6 3.3-.6 0-1.2 0-1.8-.1C3.6 33.7 7.7 35 12 35c14.2 0 22-11.8 22-22v-1c1.5-1.1 2.8-2.5 3.9-4"/>
        </svg>
      </div>
      <div class="fill-gray update-share-buttons">
        <svg class="svg-5 svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        	<title>Link</title>
        	<path d="M19.7 31.5l-3.8 3.8c-3.8 3.8-10 3.6-13.6-.5-3.3-3.7-2.9-9.4.7-12.9l7.1-7.1c3.1-3 7.8-3.9 11.6-1.8 1 .6 1.9 1.3 2.5 2.1.6.7.5 1.8-.1 2.4l-.2.2c-.8.8-2 .6-2.7-.2-.3-.3-.5-.6-.9-.8-2.2-1.6-5.3-1.3-7.2.7l-7.5 7.5c-2.2 2.2-2.1 5.9.4 8 2.2 1.8 5.4 1.5 7.4-.5l3.6-3.6c.5-.5 1.2-.7 1.8-.5h.1c1.4.3 1.9 2.1.8 3.2zM35.8 3.2C32.2-.9 26-1 22.2 2.7l-3.8 3.8c-1.1 1.1-.6 2.9.9 3.2h.1c.7.2 1.3 0 1.8-.5l3.6-3.6c2-2 5.2-2.3 7.4-.5 2.5 2 2.6 5.8.4 8l-7.5 7.5c-1.9 1.9-5 2.3-7.2.7-.3-.2-.6-.5-.9-.8-.7-.8-1.9-.9-2.7-.2l-.3.2c-.7.7-.7 1.7-.1 2.4.7.8 1.5 1.5 2.5 2.1 3.8 2.1 8.5 1.2 11.6-1.8l7.1-7.1c3.5-3.5 3.9-9.2.7-12.9z"/>
        </svg>
      </div>
      <div class="fill-gray update-share-buttons ">
        <svg class="svg-5 svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        	<title>Mail</title>
        	<path d="M0 7v24h38V7H0zm33.3 4l-11.9 8.1c-1.5 1-3.4 1-4.9 0L4.7 11h28.6zM4 27V14.2l10.9 7.4c1.3.9 2.7 1.3 4.1 1.3s2.9-.4 4.1-1.3L34 14.2V27H4z"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="xs-col-12 md-col-8 clearfix xs-mb4 md-offset-2 xs-px2 md-px0">
    <h2 class="xs-text-2 bold xs-mb1">The person Trump wanted to replace Flynn with has turned down the job</h2>
    <img class="xs-mb05 xs-block xs-col-12" src="https://img.buzzfeed.com/buzzfeed-static/static/2017-02/16/19/asset/buzzfeed-prod-fastlane-03/sub-buzz-23780-1487291591-1.jpg?resize=625:417&no-auto" />
    <p class="xs-text-6 text-gray-lightest italic xs-mb2">Getty Images</p>
    <p>Vice Admiral Robert Harward, widely reported to be President Trump’s pick to replace Michael Flynn as national security advisor, has turned down the job, CBS News and the Financial Times reported Thursday evening.</p>
  </div>

  <!-- UPDATE THREE -->
  <div class="xs-border-top-lighter xs-col-11 xs-mx-auto md-col-8 clearfix xs-mb2 md-offset-2"></div>
  <div class="xs-col-12 md-col-8 clearfix xs-mb3 md-offset-2 flex xs-flex-column md-flex-row xs-px2 md-px0">
    <div class="update-timestamp flex xs-flex-align-center xs-mb2 md-mb0">
      <svg class="svg-4 svg-gray-lightest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        <title>Clock</title>
        <path d="M19 0C8.5 0 0 8.5 0 19s8.5 19 19 19 19-8.5 19-19S29.5 0 19 0zm0 34c-8.3 0-15-6.7-15-15S10.7 4 19 4s15 6.7 15 15-6.7 15-15 15zm7.6-10.2c.8.8.8 2 0 2.8-.4.4-.9.6-1.4.6s-1-.2-1.4-.6l-6.2-6.2c-.4-.4-.6-.8-.6-1.4v-8.8c0-1.1.9-2 2-2s2 .9 2 2v7.9l5.6 5.7z"/>
      </svg>
      <p class="text-gray-lightest xs-text-5 xs-ml1 sans-type">Posted at 4:31 p.m., Feb. 15</p>
    </div>
    <div class="update-subbuzz-share flex xs-flex-align-center">
      <div class="fill-gray update-share-buttons">
        <svg class="svg-5 svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Facebook</title>
          <path d="M36.5 0h-35C.3 0 0 .3 0 1.5v34.9C0 37.7.3 38 1.5 38h18.9V23.4h-5.8v-5.8h5.8v-4.4c0-5.1 2.8-7.8 7.4-7.8 2.2 0 4.3.2 4.3.2v4.7h-2.8c-2.5 0-3.1 1.8-3.1 3.5v3.8h6l-.8 5.8h-5.3V38h10.2c1.2 0 1.5-.3 1.5-1.5v-35C38 .3 37.7 0 36.5 0z"/>
        </svg>
      </div>
      <div class="fill-gray update-share-buttons">
        <svg class="svg-white svg-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Twitter</title>
          <path d="M37.9 8c-1.4.6-2.9 1-4.4 1.2 1.6-1 2.8-2.5 3.4-4.3-1.5.9-3.1 1.5-4.9 1.9-1.4-1.5-3.4-2.4-5.6-2.4-4.3 0-7.7 3.5-7.7 7.7 0 .6.1 1.2.2 1.8-6.4-.3-12.1-3.4-15.9-8.1-.7 1.1-1 2.5-1 3.9 0 2.7 1.2 5 3.2 6.4-1.3 0-2.3-.4-3.7-1v.1c0 3.7 2.9 6.9 6.4 7.6-.9.2-1.4.3-2.1.3-.5 0-.9 0-1.4-.1 1 3.1 3.9 5.3 7.2 5.4-2.6 2.1-6 3.3-9.6 3.3-.6 0-1.2 0-1.8-.1C3.6 33.7 7.7 35 12 35c14.2 0 22-11.8 22-22v-1c1.5-1.1 2.8-2.5 3.9-4"/>
        </svg>
      </div>
      <div class="fill-gray update-share-buttons">
        <svg class="svg-5 svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Link</title>
          <path d="M19.7 31.5l-3.8 3.8c-3.8 3.8-10 3.6-13.6-.5-3.3-3.7-2.9-9.4.7-12.9l7.1-7.1c3.1-3 7.8-3.9 11.6-1.8 1 .6 1.9 1.3 2.5 2.1.6.7.5 1.8-.1 2.4l-.2.2c-.8.8-2 .6-2.7-.2-.3-.3-.5-.6-.9-.8-2.2-1.6-5.3-1.3-7.2.7l-7.5 7.5c-2.2 2.2-2.1 5.9.4 8 2.2 1.8 5.4 1.5 7.4-.5l3.6-3.6c.5-.5 1.2-.7 1.8-.5h.1c1.4.3 1.9 2.1.8 3.2zM35.8 3.2C32.2-.9 26-1 22.2 2.7l-3.8 3.8c-1.1 1.1-.6 2.9.9 3.2h.1c.7.2 1.3 0 1.8-.5l3.6-3.6c2-2 5.2-2.3 7.4-.5 2.5 2 2.6 5.8.4 8l-7.5 7.5c-1.9 1.9-5 2.3-7.2.7-.3-.2-.6-.5-.9-.8-.7-.8-1.9-.9-2.7-.2l-.3.2c-.7.7-.7 1.7-.1 2.4.7.8 1.5 1.5 2.5 2.1 3.8 2.1 8.5 1.2 11.6-1.8l7.1-7.1c3.5-3.5 3.9-9.2.7-12.9z"/>
        </svg>
      </div>
      <div class="fill-gray update-share-buttons ">
        <svg class="svg-5 svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Mail</title>
          <path d="M0 7v24h38V7H0zm33.3 4l-11.9 8.1c-1.5 1-3.4 1-4.9 0L4.7 11h28.6zM4 27V14.2l10.9 7.4c1.3.9 2.7 1.3 4.1 1.3s2.9-.4 4.1-1.3L34 14.2V27H4z"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="xs-col-12 md-col-8 clearfix xs-mb5 md-offset-2 xs-px2 md-px0">
    <h2 class="xs-text-2 bold xs-mb1">Trump Calls Reports On Russia Ties "Fake News"</h2>
    <img class="xs-mb05 xs-block xs-col-12" src="https://img.buzzfeed.com/buzzfeed-static/static/2017-02/16/16/asset/buzzfeed-prod-fastlane-02/sub-buzz-23074-1487279491-9.jpg?downsize=715:*&output-format=auto&output-quality=auto" />
    <p class="xs-text-6 text-gray-lightest italic xs-mb2">Getty Images</p>
    <p>Vice Admiral Robert Harward, widely reported to be President Trump’s pick to replace Michael Flynn as national security advisor, has turned down the job, CBS News and the Financial Times reported Thursday evening.</p>
  </div>

  <div class="xs-px2 md-hide">
    <button class="fill-facebook text-white button button--facebook xs-col-12 xs-mb4">View Facebook Comments</button>
  </div>






  <!-- bottom share bar -->
  <div class="xs-col-12 md-col-8 clearfix xs-mb5 md-offset-2 xs-px2 md-px0 xs-hide md-block">{% include sharebar.html %}</div>
</div>

<!-- Bottom Sticky Sharebar -->
<div class="xs-block md-hide">
  {% include sharebar--sticky.html %}
</div>
