---
layout: bpage
---

<!-- 17px body font size -->

<!-- Left (Main) Rail -->
<div class="col xs-col-12 md-col-8 clearfix xs-mb4 list-17">
  
  <a href="#" class="xs-p05 xs-px1 xs-inline-block xs-mb1 fill-gray rounded link-white xs-text-6 caps">Food</a>

  <!-- header group -->
  <div class="header xs-mb3">
    <h1 class="bold xs-mb1 buzz-title">Soon Your Lazy Ass Can Order McDonald’s Right From Your Phone</h1>
    <h3 class="xs-text-4 md-text-3 xs-mb1">*Orders 1,000 McFlurries*</h3>

    <p class="text-gray-lightest xs-text-6 xs-mb2">posted on Nov. 28, 2016, at 3:45 p.m.</p>

    <div class="xs-mb1 xs-text-5 clearfix flex xs-flex-align-center">
      <a href="#">
        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-09/14/13/user_images/buzzfeed-prod-fastlane02/michelleno-v2-23475-1473872761-1.png" class="avatar xs-mr1 circle">
      </a>
      <div>
        <a href="/agh" class="bold">Michelle No</a>
        <span class="xs-block text-gray-lightest">BuzzFeed News Reporter</span>
      </div>
    </div>
  </div>
  
  <!-- top share bar -->
<div class="xs-hide md-block xs-mb4">{% include sharebar.html %}</div>

  <!-- article -->
  <div class="article xs-mb4">

    <!-- img subbuzz -->
    <div class="xs-mb4">
      <h2 class="bold subbuzz-header xs-mb1">Starting in 2017, customers will be able to order Big Macs, Egg McMuffins, and other McDonald’s favorites on their phones.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/25/12/asset/buzzfeed-prod-web08/sub-buzz-29276-1480096066-1.jpg?resize=625:387&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <p class="xs-text-6 text-gray-lightest italic xs-mb2">joseph._.rivero / Via instagram.com</p>
      <p>Starbucks, Dunkin’ Donuts, and Chipotle have already adopted the technology, so McDonald’s is really just trying to catch up.</p>
    </div>

    <!-- img subbuzz -->
    <div class="xs-mb4">
      <h2 class="bold subbuzz-header xs-mb1">The service will roll out in the US, reports <a href="#">Business Insider</a>, as well as select international locations including Australia, Canada, France, and the UK.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/25/13/asset/buzzfeed-prod-web12/sub-buzz-17957-1480097465-2.png?resize=625:425" class="xs-col-12 xs-mb05 xs-block">
      <p class="xs-text-6 text-gray-lightest italic xs-mb2">joseph._.rivero / Via instagram.com</p>
      <p>While the fast food chain hasn’t announced out exactly how it’ll work, it did launch an app in October 2015 that allows people to browse menus and find nearby locations — the update might simply add the ability to order ahead of time and skip lines to pick up your food.</p>
    </div>

    <!-- img subbuzz -->
    <div class="xs-mb4">
      <h2 class="bold subbuzz-header xs-mb1">This means less time spent waiting, and more time spent inhaling Chicken McNuggets.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/28/15/asset/buzzfeed-prod-fastlane02/sub-buzz-14046-1480363570-4.jpg?resize=625:469&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <p class="xs-text-6 text-gray-lightest italic xs-mb2">joseph._.rivero / Via instagram.com</p>
      <p>The update is likely aimed at the <a href="#">70% of McDonald’s customers who order via drive-thru.</a></p>
    </div>

    <div class="xs-mb4">
      <h2 class="bold subbuzz-header xs-mb1">By 2018, the mobile technology will be available at 20,000–25,000 restaurants worldwide.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/28/15/asset/buzzfeed-prod-fastlane02/sub-buzz-13770-1480363756-11.jpg?resize=625:414&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <p class="xs-text-6 text-gray-lightest italic xs-mb2">Kari / Via flic.kr</p>
    </div>

    <div class="xs-mb4">
      <h2 class="bold subbuzz-header xs-mb1">The chain also announced ordering kiosks and tableside service earlier this month.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/25/14/asset/buzzfeed-prod-web14/sub-buzz-15288-1480101466-1.jpg?no-auto" class="xs-col-12 xs-mb05 xs-block">
      <p class="xs-text-6 text-gray-lightest italic xs-mb2">Kari / Via flic.kr</p>
      <p>Also, a <a href="#">Nutella burger.</a></p>
    </div>

  </div>

  <!-- bottom share bar -->
  <div class="xs-mb5 xs-hide md-block">{% include sharebar.html %}</div>

  <div class="xs-mb5">{% include reactions-full.html %}</div>

  {% include facebook-comments.html %}

</div>





<!-- Right Rail -->
<div class="col xs-hide md-inline-block md-col-4 md-pl4"> 
  {% include right-rail.html %}
</div>

<!-- Feed Underneath the Mobile Article -->
<div class="xs-block md-hide"> 
  {% include full-width-feed.html %}
</div>

<!-- Bottom Sticky Sharebar -->
<div class="xs-block md-hide">
  {% include sharebar--sticky.html %}
</div>



