---
layout: bpage
---

<!-- Prototype intending to demonstrate what captions on article templates should look like -->

<!-- Left Rail -->
<div class="col xs-col-12 md-col-8 clearfix xs-pb5">

  <!-- header -->
  <div class="header xs-mb3">
    <h1 class="bold buzz-title xs-mb1">31 Little Things You’ve Probably Forgotten You Need To Clean</h1>
    <h3 class="xs-text-4 md-text-3 xs-mb2 regular">* Grabs the cleaning wipes *</h3>

    <p class="text-gray-lightest xs-text-6 xs-mb3">posted on Nov. 7, 2016, at 11:16 a.m.</p>

    <div class="xs-mb4 clearfix flex xs-flex-column md-flex-row xs-flex-justify-center xs-p2 fill-gray-lighter rounded">

      <div class="flex md-flex-align-center xs-flex-grow-1">
        <a href="#" style="line-height:0;">
          <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-05/1/16/user_images/webdr08/nataliebrown-v2-10869-1430512902-0_large.jpg" class="avatar xs-mr1 circle">
        </a>
        <div class="xs-mb3 md-mb0">
          <a href="/agh" class="bold xs-text-4 xs-mb1">Natalie Brown</a>
          <span class="xs-block text-gray-lightest xs-text-5">Community Contributor</span>
        </div>
      </div>

      <p class="xs-text-5 xs-col-12 md-col-7 md-pl2">This post has not been vetted or endorsed by BuzzFeed's editorial staff. BuzzFeed Community is a place where anyone create a post. <a href="#">Learn more or make a post!</a></p>

    </div>

  </div>

  <!-- top share bar -->
  <div class="xs-hide md-block xs-mb4">
    {% include sharebar.html %}
  </div>

  <!-- article -->
  <div class="article xs-mb4">

    <!-- img subbuzz -->
    <div class="xs-mb4">
      <img src="https://img.buzzfeed.com/buzzfeed-stage/static/2016-11/3/15/asset/buzzfeed-prod-fastlane02/sub-buzz-13895-1478200967-7.jpg?output-format=auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-col-12 md-col-10 xs-mb05">
        <p class="xs-text-6 xs-mb1 text-gray-lighter italic xs-mb0">Jenny Chang/BuzzFeed</p>
      </div>
      <div class="xs-inline-block md-hide xs-mb1">
        {% include sharebar--subbuzz.html %}
      </div>
    </div>

    <!-- img subbuzz with list caption -->
    <div class="xs-mb4">
      <h2 class="xs-text-3 md-text-2 bold xs-mb1">1. Wipe down light switches, lamp switches, cabinet handles, fridge handles, and door knobs with some sort of sanitizing agent, like Lysol or a disinfectant wipe.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-10/31/18/asset/buzzfeed-prod-web03/sub-buzz-25946-1477952762-1.jpg?resize=*:532&output_quality=100&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-col-12 md-col-10 xs-mb05">
        <p class="xs-text-6 xs-mb1 text-gray-lighter italic xs-mb0">thekreativelife.com</p>
      </div>
      <div class="xs-inline-block md-hide xs-mb1">
        {% include sharebar--subbuzz.html %}
      </div>
        <p class="xs-mb2">Pretty much anybody and everybody who’s been in your home has probably touched the doorknobs and light switches, so it’s a good idea to disinfect them every once in a while. And while every guest may not be opening your fridge or kitchen and bathroom cabinets, plenty of germs lurk there, too.</p>
        <p class="xs-mb2">Lysol or another disinfectant spray works well for this, but be wary — to truly disinfect, Lysol must stay wet on a surface for <a href="#">three minutes.</a></p>
        <p class="xs-mb2">Learn more about disinfecting around your home <a href="#">here.</a></p>
    </div>

    <!-- img subbuzz with list caption -->
    <div class="xs-mb4">
      <h2 class="xs-text-3 md-text-2 bold xs-mb2">2. Microwave a bowl of lemon water then wipe down the inside of your microwave.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/1/16/asset/buzzfeed-prod-fastlane03/sub-buzz-3151-1478033632-8.jpg?no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-col-12 md-col-10 xs-mb05">
        <p class="xs-text-6 xs-mb1 text-gray-lighter italic xs-mb0">Facebook: buzzfeednifty</p>
      </div>

      <div class="xs-inline-block md-hide xs-mb1">
        {% include sharebar--subbuzz.html %}
      </div>

      <p class="xs-mb2">It’s really quite easy. Watch the how-to video here.</p>
    </div>

    <!-- img subbuzz with list caption -->
    <div class="xs-mb4">
      <h2 class="xs-text-3 md-text-2 bold xs-mb1">3. Scrub down the part of faucets in your kitchen, bathroom, and laundry room where the water comes out.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-10/31/16/asset/buzzfeed-prod-web15/sub-buzz-6959-1477946519-1.jpg?no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-col-12 md-col-10 xs-mb05">
        <p class="xs-text-6 xs-mb1 text-gray-lighter italic xs-mb0">Facebook: buzzfeednifty</p>
      </div>

      <div class="xs-inline-block md-hide xs-mb1">
        {% include sharebar--subbuzz.html %}
      </div>

      <p class="xs-mb2">It’s an easy process that you should do every few weeks. Read more here.</p>
    </div>

    <!-- img subbuzz with list caption -->
    <div class="xs-mb4">
      <h2 class="xs-text-3 md-text-2 bold xs-mb1">4. Take a toothbrush or other small cleaning tool to the underside of your garbage disposal splash guard.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/1/14/asset/buzzfeed-prod-fastlane03/sub-buzz-5338-1478024854-3.jpg?no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-col-12 md-col-10 xs-mb05">
        <p class="xs-text-6 xs-mb1 text-gray-lighter italic xs-mb0">familyhandyman.com</p>
      </div>

      <div class="xs-inline-block md-hide xs-mb1">
        {% include sharebar--subbuzz.html %}
      </div>

      <p class="xs-mb2">It’s secretly collecting grease and bits of old food while you think you’re grinding everything to oblivion. Read more about how to clean it <a href="#">here.</a></p>
    </div>

    <!-- img subbuzz with list caption -->
    <div class="xs-mb4">
      <h2 class="xs-text-3 md-text-2 bold xs-mb1">5. Dust the tops of all of your kitchen cabinets and any other furniture that almost reaches the ceiling, then lay down a layer of wax paper to prevent future dust.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/1/17/asset/buzzfeed-prod-fastlane03/sub-buzz-10436-1478036855-8.jpg?no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-col-12 md-col-10 xs-mb05">
        <p class="xs-text-6 xs-mb1 text-gray-lighter italic xs-mb0">Nancy Andrews / thisoldhouse.com</p>
      </div>

      <div class="xs-inline-block md-hide xs-mb1">
        {% include sharebar--subbuzz.html %}
      </div>

      <p class="xs-mb2">Then next time, you won’t have to dust — simply carefully remove the wax paper that’s there, and replace it with a new sheet. Get more uses for wax paper at <a href="#">This Old House.</a></p>
    </div>

    <!-- img subbuzz with list caption -->
    <div class="xs-mb4">
      <h2 class="xs-text-3 md-text-2 bold xs-mb1">6. Soak your toothbrush in hydrogen peroxide (rinsing well afterward, of course), especially after you’ve been sick.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-10/31/17/asset/buzzfeed-prod-web12/sub-buzz-13065-1477951100-1.jpg?resize=625:385&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <div class="xs-col-12 md-col-10 xs-mb05">
        <p class="xs-text-6 xs-mb1 text-gray-lighter italic xs-mb0">onecrazyhouse.com</p>
      </div>

      <div class="xs-inline-block md-hide xs-mb1">
        {% include sharebar--subbuzz.html %}
      </div>

      <p class="xs-mb2">Germ expert <a href="#">Kelly Reynolds</a>, Ph.D., <a href="#">previously told BuzzFeed Health</a> that after you’ve been sick, you should replace it or thoroughly sanitize it by soaking it in hydrogen peroxide for 10 minutes, then rinsing it thoroughly and letting it dry.</p>

      <p class="xs-mb2">Learn more uses for hydrogen peroxide here.</p>
    </div>

    <div class="fill-gray-lighter rounded xs-p2">
      <p>This post was created by a member of BuzzFeed Community and has not been vetted or endorsed by BuzzFeed's editorial staff. <a href="#">Learn more about BuzzFeed Community or create a post!</a></p>
    </div>

  </div>

  <!-- bottom share bar -->
  <div class="xs-hide md-block xs-mb5">{% include sharebar.html %}</div>

  <div class="xs-p3 fill-yellow-lighter flex xs-flex-align-center xs-flex-justify-center text-gray-lighter"> This area is for comments!</div>

</div>

<!-- Right Rail -->
<div class="col xs-hide md-inline-block md-col-4 md-pl4">
  {% include right-rail-community.html %}
</div>

<!-- Feed Underneath the Mobile Article -->
<div class="xs-block md-hide">
  {% include full-width-feed.html %}
</div>

<!-- Bottom Sticky Sharebar -->
<div class="xs-block md-hide">
  {% include sharebar--sticky.html %}
</div>
