---
layout: bpage
---

<!-- ///////////////////////////////////////////////////////////////// -->
<!-- ///// V2 VARIANT OF BUZZ-ARTICLE //////////////////////////////// -->
<!-- ///// Larger headline and smaller subbuzz header text size ////// -->
<!-- ///////////////////////////////////////////////////////////////// -->

<!-- Left (Main) Rail -->
<div class="col xs-col-12 md-col-8 clearfix xs-mb4">
  
  <a href="#" class="xs-p05 xs-px1 xs-inline-block xs-mb1 fill-gray rounded link-white xs-text-6 caps">Food</a>

  <!-- header group -->
  <div class="header xs-mb3">
    <h1 class="bold xs-mb1 buzz-title">Show Us A Video Of Your Favorite Thing</h1>
    <h3 class="xs-text-4 md-text-3 xs-mb1">*Orders 1,000 McFlurries*</h3>

    <p class="text-gray-lightest xs-text-6 xs-mb2">posted on Nov. 28, 2016, at 3:45 p.m.</p>

    <div class="xs-mb1 xs-text-5 clearfix flex xs-flex-align-center">
      <a href="#">
        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-09/14/13/user_images/buzzfeed-prod-fastlane02/michelleno-v2-23475-1473872761-1.png" class="avatar xs-mr1 circle">
      </a>
      <div>
        <a href="/agh" class="bold">Michelle No</a>
        <span class="xs-block text-gray-lightest">BuzzFeed News Reporter</span>
      </div>
    </div>
  </div>
  
  <!-- top share bar -->
<div class="xs-hide md-block xs-mb4">{% include sharebar.html %}</div>

  <!-- article -->
  <div class="article xs-mb4">

    <!-- img subbuzz -->
    <div class="xs-mb4">
      <h2 class="bold xs-text-3 md-text-2 xs-mb1">Starting in 2017, customers will be able to order Big Macs, Egg McMuffins, and other McDonald’s favorites on their phones.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/25/12/asset/buzzfeed-prod-web08/sub-buzz-29276-1480096066-1.jpg?resize=625:387&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <p class="xs-text-6 text-gray-lightest italic xs-mb3">joseph._.rivero / Via instagram.com</p>
      <p>Starbucks, Dunkin’ Donuts, and Chipotle have already adopted the technology, so McDonald’s is really just trying to catch up.</p>
    </div>

    <!-- img subbuzz -->
    <div class="xs-mb4">
      <h2 class="bold xs-text-3 md-text-2 xs-mb1">The service will roll out in the US, reports <a href="#">Business Insider</a>, as well as select international locations including Australia, Canada, France, and the UK.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/25/13/asset/buzzfeed-prod-web12/sub-buzz-17957-1480097465-2.png?resize=625:425" class="xs-col-12 xs-mb05 xs-block">
      <p class="xs-text-6 text-gray-lightest italic xs-mb3">joseph._.rivero / Via instagram.com</p>
      <p>While the fast food chain hasn’t announced out exactly how it’ll work, it did launch an app in October 2015 that allows people to browse menus and find nearby locations — the update might simply add the ability to order ahead of time and skip lines to pick up your food.</p>
    </div>

    <!-- img subbuzz -->
    <div class="xs-mb4">
      <h2 class="bold xs-text-3 md-text-2 xs-mb1">This means less time spent waiting, and more time spent inhaling Chicken McNuggets.</h2>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/28/15/asset/buzzfeed-prod-fastlane02/sub-buzz-14046-1480363570-4.jpg?resize=625:469&no-auto" class="xs-col-12 xs-mb05 xs-block">
      <p class="xs-text-6 text-gray-lightest italic xs-mb3">joseph._.rivero / Via instagram.com</p>
      <p>The update is likely aimed at the <a href="#">70% of McDonald’s customers who order via drive-thru.</a></p>
    </div>
  </div>

  <div class="filter-bubble-wrapper xs-mb5">
    <div class="fs-home">{% include filter-bubble_summary.html %}</div>
    <div class="fs-step xs-hide">{% include filter-bubble_quote.html %}</div>
    <div class="fs-step xs-hide">{% include filter-bubble_quote2.html %}</div>
  </div>

  <script>


    $(".filter-bubble-wrapper").on("click", ".summary-item", function(e){
      e.preventDefault();
      var currentStep = $('.fs-home'); // summary view 
      currentStep.addClass('xs-hide'); // to the summary view, add the class xs-hide (hide the view)...
      var nextStep = currentStep.next('.fs-step') // quote, or detail, view
      
      if (nextStep[0]) {
        nextStep.removeClass('xs-hide'); // to the quote view, remove the .xs-hide class (show the view)
      } else {
        $('.filter-bubble-wrapper .fs-step')[0].removeClass('xs-hide');
      }


    })

    $(".filter-bubble-wrapper").on("click", ".caret-next", function(e){
      e.preventDefault();
      var currentStep = $(e.currentTarget).closest('.fs-step');
      currentStep.addClass('xs-hide');
      var nextStep = currentStep.next('.fs-step')
      
      if (nextStep[0]) {
        nextStep.removeClass('xs-hide');
      } else {
        $('.filter-bubble-wrapper .fs-step')[0].removeClass('xs-hide');
      }

    })


    $(".filter-bubble-wrapper").on("click", ".close-button", function(e){
      e.preventDefault();
      var currentStep = $(e.currentTarget).closest('.fs-step'); // quote view
      currentStep.addClass('xs-hide'); // hide the quote view, if you click on the close-button (above)
      var homeStep = $(".filter-bubble-wrapper .fs-home"); // summary view (directly targeted)
      homeStep.removeClass('xs-hide'); // show the summary view, or remove the .xs-hide class
    })

  </script>

  <!-- bottom share bar -->
  <div class="xs-col-12 xs-hide md-inline-block">{% include sharebar.html %}</div>

  <div class="xs-p3 fill-yellow-lighter flex xs-flex-align-center xs-flex-justify-center text-gray-lighter"> This area is for comments!</div>

</div>

<!-- Right Rail -->
<div class="col xs-hide md-inline-block md-col-4 md-pl4"> 
  {% include right-rail.html %}
</div>

<!-- Feed Underneath the Mobile Article -->
<div class="xs-block md-hide"> 
  {% include full-width-feed.html %}
</div>

<!-- Bottom Sticky Sharebar -->
<div class="xs-block md-hide">
  {% include sharebar--sticky.html %}
</div>
