<div class="ad-unit xs-relative rounded xs-border-lighter xs-mb2">
  <div class="xs-p2">
    <img class="xs-col-12" src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/22/15/campaign_images/buzzfeed-prod-web05/oh-yes-a-tasty-cookbook-2-9452-1479847280-1_wide.jpg" alt="">
    <a class="xs-block bold link-gray xs-mb1" href="#"><h5>OMG! A BuzzFeed Tasty Cookbook!</h5></a>
    <a class="flex xs-flex-align-middle clearfix">
      <img class="xs-mr1 ad-user--image xs-border-lighter rounded" src="https://webappstatic.buzzfeed.com/static/2016-11/23/12/user_images/buzzfeed-prod-fastlane02/abenedek-v2-27481-1479921403-0_large.png?output-format=jpeg&output-quality=85&downsize=30:*" alt="">
      <div class="xs-inline-block clearfix">
        <span class="xs-text-6 text-promoted-orange xs-block">Promoted By</span>
        <span class="xs-text-5 link-blue bold xs-block">BuzzFeed Tasty</span>
      </div>
    </a>
  </div>
</div>