<div class="fill-blue email-newsletter rounded xs-relative xs-px2 xs-py3 clearfix">
  
  <div class="xs-mt4 text-white">

    <p class="xs-text-3 xs-mb1 bold js-newsletter__title-header">
    Get BuzzFeed Right To Your Inbox
    </p>

    <p class="xs-text-5 js-newsletter__title-body">
    Never miss a beat again
    </p>

    <form>
      <div class="xs-mt2 xs-mb0 xs-overflow-hidden">
        <input type="email" class="col xs-col-12 xs-mb1 lg-col-8 lg-mb0 text-input js-newsletter__email" placeholder="Enter Your Email">
        <div class="col xs-col-12 lg-col-4 xs-pl0 lg-pl1">
        <input type="submit" class="button button--white button--secondary xs-col-12" value="Sign Up">
        </div>
      </div>
    </form>

  </div>

</div>