<section class="section solid" id="fb_comments_control">
  <header class="header">
    <div class="block-heading xs-text-2 bold xs-mb2">Facebook Conversations</div>
  </header>
  <div class="fb_comments_wrapper">
    <fb:comments width="690" href="https://www.buzzfeed.com/anamariaglavan/all-the-best-deals-on-the-internet-today-feb-1-2017" mobile="false" fb-xfbml-state="rendered" class="fb_iframe_widget"><span style="height: 177px; width: 690px;"><iframe id="f1a01e41063e868" name="f2f7b98e1e21c4c" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="https://www.facebook.com/plugins/comments.php?api_key=45075597673&amp;channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FSh-3BhStODe.js%3Fversion%3D42%23cb%3Df3271fe9bf98a78%26domain%3Dwww.buzzfeed.com%26origin%3Dhttps%253A%252F%252Fwww.buzzfeed.com%252Ff77cbc772ca03%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.buzzfeed.com%2Fanamariaglavan%2Fall-the-best-deals-on-the-internet-today-feb-1-2017&amp;locale=en_US&amp;mobile=false&amp;numposts=10&amp;sdk=joey&amp;version=v2.2&amp;width=690" style="border: none; overflow: hidden; height: 177px; width: 690px;"></iframe></span></fb:comments>
  </div>
</section>