
<h2 class="bold xs-mb2">Add Your Video</h2>
<div class="xs-col-12 md-col-8">
  <form class="xs-mb1">
    <input type="text" class="text-input xs-col-12" placeholder="Enter Name">
  </form>
  <form class="xs-mb1">
    <input type="text" class="text-input xs-col-12" placeholder="Enter Email">
  </form>
  <form class="xs-mb2">
    <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes" checked="checked">
    <label for="check_1">I agree to the <a href="#">terms</a></label>
  </form>
  <button class="button button--primary xs-col-12">Continue</button>
</div>