
<h2 class="bold xs-mb2">Add Your Video</h2>
<div class="xs-col-12 md-col-8">
  <form class="xs-mb1">
    <input type="text" class="text-input xs-col-12" placeholder="Enter Name">
  </form>
  <form class="xs-mb1">
    <input type="text" class="text-input xs-col-12" placeholder="Enter Email">
  </form>
  <form class="xs-mb2">
    <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes" checked="checked">
    <label for="check_1">I agree to the <a href="#">terms</a></label>
  </form>
  <div class="page-message page-message--error xs-col-12 xs-mb2">
      <div class="page-message__text">
        <svg class="page-message__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" aria-hidden="true">
          <title>Error</title>
          <path d="M19 16.878l-6.364-6.363-2.12 2.12L16.878 19l-6.365 6.364 2.12 2.12L19 21.122l6.364 6.365 2.12-2.12L21.122 19l6.365-6.364-2.12-2.12L19 16.877z"/>
        </svg>
        Oops! Please enter the fields above and agree to the terms before continuing.
      </div>
  </div>
  <button class="button button--primary xs-col-12 md-col-5">Continue</button>
</div>