<div class="sm-bubble-card xs-relative flex xs-flex-column xs-flex-justify-center fill-gray-darker">

  <a class="xs-hide md-inline-block xs-absolute bubble-carousel-caret bubble-carousel-caret--left" href="#">
    <svg class="svg-white svg-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
      <title>Caret left</title>
      <path d="M26.5 36c-.5 0-1-.2-1.4-.6L8.7 19 25.1 2.6c.8-.8 2-.8 2.8 0 .8.8.8 2 0 2.8L14.3 19l13.6 13.6c.8.8.8 2 0 2.8-.4.4-.9.6-1.4.6z"/>
    </svg>
  </a>

  <a class="xs-hide xs-r0 md-inline-block xs-absolute bubble-carousel-caret bubble-carousel-caret--right" href="#">
    <svg class="svg-white svg-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
      <title>Caret right</title>
      <path d="M11.5 36c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L23.7 19 10.1 5.4c-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0L29.3 19 12.9 35.4c-.4.4-.9.6-1.4.6z"/>
    </svg>
  </a>

  <div class="xs-relative flex xs-flex-align-center md-flex-align-start xs-text-center xs-p2 xs-py3 text-white">

    <a class="xs-absolute flex xs-flex-align-center close-button xs-l2" href="#">
      <svg class="xs-flex-shrink-0 svg-4 svg-white xs-mr1" mlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        <title>Caret left</title>
        <path d="M26.5 36c-.5 0-1-.2-1.4-.6L8.7 19 25.1 2.6c.8-.8 2-.8 2.8 0 .8.8.8 2 0 2.8L14.3 19l13.6 13.6c.8.8.8 2 0 2.8-.4.4-.9.6-1.4.6z"/>
      </svg>
      <span class="xs-hide md-inline-block xs-text-4 text-white">Back</span>
    </a>

    <div class="xs-relative xs-inline-block xs-mx-auto clearfix">
      <div class="chat-bubbles-container xs-absolute">{% include chat-bubbles.svg %}</div>
      <h2 class="bubble-header slab">Outside The Bubble</h2>
      <p>Read other perspectives on this story</p>
    </div>
  </div>

  <div class="bubble-carousel xs-mb2 sm-mb4">
    <ul>
      <li class="xs-pl2 sm-px5 bubble-quote flex xs-flex-justify-center xs-relative">
        <span class="xs-absolute number-circle text-white xs-p1 flex xs-flex-align-center fill-gray-darker bold">
          <span>1</span>
        </span>
        <div class="card flex xs-flex-column xs-border-bottom-lighter xs-p3 md-p4">
          <p class="xs-mb1 bold">Palantir's cofounder thought that this article used selective facts to paint a negative story:
          </p>
          <p class="italic">
            “From my perspective, it’s very easy to take a few select facts out of context and paint a negative story, which is what happened here. The article made false implications about customer traction — the company had been expansive in who it worked sense and were aligned with its ethos and goals."
          </p>
          <a class="xs-mt2" href="https://www.quora.com/What-does-Joe-Lonsdale-think-of-BuzzFeeds-Inside-Palantir-article">
          <svg class="svg-5 svg-blue xs-mr05 xs-mb05" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
            <title>Link</title>
            <path d="M19.7 31.5l-3.8 3.8c-3.8 3.8-10 3.6-13.6-.5-3.3-3.7-2.9-9.4.7-12.9l7.1-7.1c3.1-3 7.8-3.9 11.6-1.8 1 .6 1.9 1.3 2.5 2.1.6.7.5 1.8-.1 2.4l-.2.2c-.8.8-2 .6-2.7-.2-.3-.3-.5-.6-.9-.8-2.2-1.6-5.3-1.3-7.2.7l-7.5 7.5c-2.2 2.2-2.1 5.9.4 8 2.2 1.8 5.4 1.5 7.4-.5l3.6-3.6c.5-.5 1.2-.7 1.8-.5h.1c1.4.3 1.9 2.1.8 3.2zM35.8 3.2C32.2-.9 26-1 22.2 2.7l-3.8 3.8c-1.1 1.1-.6 2.9.9 3.2h.1c.7.2 1.3 0 1.8-.5l3.6-3.6c2-2 5.2-2.3 7.4-.5 2.5 2 2.6 5.8.4 8l-7.5 7.5c-1.9 1.9-5 2.3-7.2.7-.3-.2-.6-.5-.9-.8-.7-.8-1.9-.9-2.7-.2l-.3.2c-.7.7-.7 1.7-.1 2.4.7.8 1.5 1.5 2.5 2.1 3.8 2.1 8.5 1.2 11.6-1.8l7.1-7.1c3.5-3.5 3.9-9.2.7-12.9z"/>
          </svg>
          Joe Londsdale</a>
        </div>
      </li>

     <li class="sm-px5 bubble-quote">
        <div class="card flex xs-flex-column xs-border-bottom-lighter xs-p3 md-p4">
          <p class="xs-mb1 bold">Shar Har-Noy tweeted that these criticisms apply to any company that relies on recurring revenue:
          </p>
          <p class="italic">
          “Critical view of Palantir, though similar article could be written about nearly any B2B company.”
          </p>
          <a class="xs-mt1" href="#">
          <svg class="svg-5 svg-twitter xs-mr05 xs-mb05" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
            <title>Twitter</title>
            <path d="M37.9 8c-1.4.6-2.9 1-4.4 1.2 1.6-1 2.8-2.5 3.4-4.3-1.5.9-3.1 1.5-4.9 1.9-1.4-1.5-3.4-2.4-5.6-2.4-4.3 0-7.7 3.5-7.7 7.7 0 .6.1 1.2.2 1.8-6.4-.3-12.1-3.4-15.9-8.1-.7 1.1-1 2.5-1 3.9 0 2.7 1.2 5 3.2 6.4-1.3 0-2.3-.4-3.7-1v.1c0 3.7 2.9 6.9 6.4 7.6-.9.2-1.4.3-2.1.3-.5 0-.9 0-1.4-.1 1 3.1 3.9 5.3 7.2 5.4-2.6 2.1-6 3.3-9.6 3.3-.6 0-1.2 0-1.8-.1C3.6 33.7 7.7 35 12 35c14.2 0 22-11.8 22-22v-1c1.5-1.1 2.8-2.5 3.9-4"/>
          </svg>
          Shar Har-Noy</a>
        </div>
      </li>

      <li class="xs-pr1 sm-px5 bubble-quote">
        <div class="card flex xs-flex-column xs-border-bottom-lighter xs-p3 md-p4">
        <p class="xs-mb1 bold">Rishabh Srivastava pointed out that Palantir is unique in being a hybrid consulting and data analysis company:
        </p>
        <p class="italic">
         “Consulting companies can surely make a lot of money, but none to my knowledge have the kind of valuation that Palantir currently commands. If it turns out that every customer of Palantir’s requires a custom solution, then I think they’re likely overvalued, because that model scales poorly. On the other hand, if Palantir has genuinely figured out a way to ‘software-ize’ data analysis and to turn it into a commodity, then they are very likely undervalued.”
        </p>
        <a class="xs-mt1" href="http://simplystatistics.org/2016/05/11/palantir-struggles/">
        <svg class="svg-5 svg-blue xs-mr05 xs-mb05" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Link</title>
          <path d="M19.7 31.5l-3.8 3.8c-3.8 3.8-10 3.6-13.6-.5-3.3-3.7-2.9-9.4.7-12.9l7.1-7.1c3.1-3 7.8-3.9 11.6-1.8 1 .6 1.9 1.3 2.5 2.1.6.7.5 1.8-.1 2.4l-.2.2c-.8.8-2 .6-2.7-.2-.3-.3-.5-.6-.9-.8-2.2-1.6-5.3-1.3-7.2.7l-7.5 7.5c-2.2 2.2-2.1 5.9.4 8 2.2 1.8 5.4 1.5 7.4-.5l3.6-3.6c.5-.5 1.2-.7 1.8-.5h.1c1.4.3 1.9 2.1.8 3.2zM35.8 3.2C32.2-.9 26-1 22.2 2.7l-3.8 3.8c-1.1 1.1-.6 2.9.9 3.2h.1c.7.2 1.3 0 1.8-.5l3.6-3.6c2-2 5.2-2.3 7.4-.5 2.5 2 2.6 5.8.4 8l-7.5 7.5c-1.9 1.9-5 2.3-7.2.7-.3-.2-.6-.5-.9-.8-.7-.8-1.9-.9-2.7-.2l-.3.2c-.7.7-.7 1.7-.1 2.4.7.8 1.5 1.5 2.5 2.1 3.8 2.1 8.5 1.2 11.6-1.8l7.1-7.1c3.5-3.5 3.9-9.2.7-12.9z"/>
        </svg>
        Rishabh Srivastava
        </a>
        </div>
      </li>
    </ul>
  </div>


</div>
