<div class="card rounded clearfix">
  <div class="xs-text-center fill-gray-darker xs-p2 text-white rounded-top">
    <h2 class="xs-text-1 slab">Outside The Bubble</h2>
    <p>Read other perspectives around this story</p>
  </div>

  <a class="close-button" href="#">
    <svg class="svg-5 xs-flex-shrink-0 svg-gray-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
      <title>X</title>
      <path d="M30.3 10.5l-2.8-2.8-8.5 8.5-8.5-8.5-2.8 2.8 8.5 8.5-8.5 8.5 2.8 2.8 8.5-8.5 8.5 8.5 2.8-2.8-8.5-8.5z"/>
    </svg>
  </a>

  <ul class="list-unstyled">

    <li class="flex xs-flex-column xs-flex-align-center xs-flex-justify-between xs-border-bottom-lighter xs-p3">
      <p class="xs-mb2 bold">Palantir's cofounder thought that this article used selective facts to paint a negative story:
      </p>
      <p class="italic">
        “From my perspective, it’s very easy to take a few select facts out of context and paint a negative story, which is what happened here. The article made false implications about customer traction — the company had been expansive in who it worked sense and were aligned with its ethos and goals."
      </p>

      <a class="caret-next" href="#">
        <svg class="svg-5 xs-flex-shrink-0 svg-gray-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Caret right</title>
          <path d="M11.5 36c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L23.7 19 10.1 5.4c-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0L29.3 19 12.9 35.4c-.4.4-.9.6-1.4.6z"/>
        </svg>
      </a>


    </li>


  </ul>
</div>
