<div class="sm-bubble-card clearfix">

  <div class="xs-relative xs-text-center xs-p2 xs-py3 fill-gray-darker text-white">
    <div class="xs-relative xs-inline-block xs-mx-auto clearfix">
      <div class="chat-bubbles-container xs-absolute">{% include chat-bubbles.svg %}</div>
      <h2 class="bubble-header slab">Outside The Bubble</h2>
      <p>Read other perspectives on this story</p>
    </div>
  </div>

  <ul class="list-unstyled">
    <li class="summary-item">
      <a class="xs-text-4 clearfix link-gray flex xs-flex-align-center xs-flex-justify-between xs-border-bottom-lighter xs-p2 xs-py3" href="#"> 
        <span class="number-circle text-white xs-p1 flex xs-flex-align-center fill-gray-darker bold">
          <span>1</span>
        </span>
        <span class="xs-px2">Palantir's cofounder thought that this article used selective facts to paint a negative story.</span>
        <svg class="svg-5 xs-flex-shrink-0 svg-gray-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Caret right</title>
          <path d="M11.5 36c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L23.7 19 10.1 5.4c-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0L29.3 19 12.9 35.4c-.4.4-.9.6-1.4.6z"/>
        </svg>
      </a>
    </li>

    <li class="summary-item">
      <a class="xs-text-4 clearfix link-gray flex xs-flex-align-center xs-flex-justify-between xs-border-bottom-lighter xs-p2 xs-py3" href="#"> 
        <span class="number-circle text-white xs-p1 flex xs-flex-align-center fill-gray-darker bold">
          <span>2</span>
        </span>
        <span class="xs-px2">Shar Har-Noy tweeted that these criticisms apply to any company that relies on recurring revenue.</span>
        <svg class="svg-5 xs-flex-shrink-0 svg-gray-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Caret right</title>
          <path d="M11.5 36c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L23.7 19 10.1 5.4c-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0L29.3 19 12.9 35.4c-.4.4-.9.6-1.4.6z"/>
        </svg>
      </a>
    </li>

    <li class="summary-item">
      <a class="xs-text-4 clearfix link-gray flex xs-flex-align-center xs-flex-justify-between xs-border-bottom-lighter xs-p2 xs-py3" href="#"> 
        <span class="number-circle text-white xs-p1 flex xs-flex-align-center fill-gray-darker bold">
          <span>3</span>
        </span>
        <span class="xs-px2">Derek Hoyt argued that disregarding bookings that would turn into real revenue in the future was unfair.</span>
        <svg class="svg-5 xs-flex-shrink-0 svg-gray-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Caret right</title>
          <path d="M11.5 36c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L23.7 19 10.1 5.4c-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0L29.3 19 12.9 35.4c-.4.4-.9.6-1.4.6z"/>
        </svg>
      </a>
    </li>

    <li class="summary-item">
      <a class="xs-text-4 clearfix link-gray flex xs-flex-align-center xs-flex-justify-between xs-border-bottom-lighter xs-p2 xs-py3" href="#"> 
        <span class="number-circle text-white xs-p1 flex xs-flex-align-center fill-gray-darker bold">
          <span>4</span>
        </span>
        <span class="xs-px2">Rishabh Srivastava pointed out that Palantir is unique in being a hybrid consulting and data analysis company.</span>
        <svg class="svg-5 xs-flex-shrink-0 svg-gray-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
          <title>Caret right</title>
          <path d="M11.5 36c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L23.7 19 10.1 5.4c-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0L29.3 19 12.9 35.4c-.4.4-.9.6-1.4.6z"/>
        </svg>
      </a>
    </li>


  </ul>
</div>
