<div class="sm-bubble-card clearfix fill-gray-darker">

  <div class="xs-relative xs-text-center xs-p2 xs-py3 text-white">
    <a class="xs-absolute close-button svg-2 svg-white xs-l2" href="#">
      <svg class="xs-flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        <title>X</title>
        <path d="M30.3 10.5l-2.8-2.8-8.5 8.5-8.5-8.5-2.8 2.8 8.5 8.5-8.5 8.5 2.8 2.8 8.5-8.5 8.5 8.5 2.8-2.8-8.5-8.5z"/>
      </svg>
    </a>
    <div class="xs-relative xs-inline-block xs-mx-auto clearfix">
      <div class="chat-bubbles-container xs-absolute">{% include chat-bubbles.svg %}</div>
      <h2 class="bubble-header slab">Outside The Bubble</h2>
      <p>Read other perspectives on this story</p>
    </div>
  </div>

  <div class="bubble-carousel xs-mb2">
    <ul>
      <li class="xs-pl2 sm-px3 bubble-quote">
        <div class="card flex xs-flex-column xs-border-bottom-lighter xs-p3">
          <p class="xs-mb1 bold">Palantir's cofounder thought that this article used selective facts to paint a negative story:
          </p>
          <p class="italic">
            “From my perspective, it’s very easy to take a few select facts out of context and paint a negative story, which is what happened here. The article made false implications about customer traction — the company had been expansive in who it worked sense and were aligned with its ethos and goals."
          </p>
          <a class="xs-mt1" href="#">John Londsdale, CoFounder of Palantir</a>
        </div>
      </li>

     <li class="sm-px3 bubble-quote">
        <div class="card flex xs-flex-column xs-border-bottom-lighter xs-p3">
          <p class="xs-mb1 bold">Shar Har-Noy tweeted that these criticisms apply to any company that relies on recurring revenue:
          </p>
          <p class="italic">
          “Critical view of Palantir, though similar article could be written about nearly any B2B company.”
          </p>
          <a class="xs-mt1" href="#">Shar Har-Noy</a>
        </div>
      </li>

      <li class="xs-pr1 sm-px3 bubble-quote">
        <div class="card flex xs-flex-column xs-border-bottom-lighter xs-p3">
        <p class="xs-mb1 bold">Rishabh Srivastava pointed out that Palantir is unique in being a hybrid consulting and data analysis company:
        </p>
        <p class="italic">
         “Consulting companies can surely make a lot of money, but none to my knowledge have the kind of valuation that Palantir currently commands. If it turns out that every customer of Palantir’s requires a custom solution, then I think they’re likely overvalued, because that model scales poorly. On the other hand, if Palantir has genuinely figured out a way to ‘software-ize’ data analysis and to turn it into a commodity, then they are very likely undervalued.”
        </p>
        <a class="xs-mt1" href="#">Rishabh Srivastava</a>
        </div>
      </li>
    </ul>
  </div>


</div>
