<div class="clearfix xs-mb6 xs-col-12 xs-block-grid-2 md-block-grid-3 link-gray">

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/21/17/campaign_images/buzzfeed-prod-web01/19-magical-gifts-for-people-who-love-harry-potter-2-5926-1479765915-0_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">19 Magical Gifts For People Who Love "Harry Potter"</h4></a>
  </div>

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/23/9/campaign_images/buzzfeed-prod-fastlane03/buzzzzzzzzzzzzzzzzzzzz-2-15461-1479909695-4_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">27 Bee Movie Jokes That Are Just Too Fucking Much</h4></a>
  </div>

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/23/5/campaign_images/buzzfeed-prod-fastlane03/7-hilarious-jokes-by-philip-hammond-to-get-you-pu-2-10713-1479897812-0_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">7 HILARIOUS Jokes By Philip Hammond To Get You Pumped For Autumn</h4></a>
  </div>

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/22/11/campaign_images/buzzfeed-prod-fastlane01/it-me-on-thanksgiving-2-29998-1479830668-8_dblbig.jpg"> 
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">22 Tweets About Thanksgiving That Will Make You Say "Me"</h4></a>
  </div>

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/21/17/campaign_images/buzzfeed-prod-web01/19-magical-gifts-for-people-who-love-harry-potter-2-5926-1479765915-0_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">19 Magical Gifts For People Who Love "Harry Potter"</h4></a>
  </div>

  <div class="block-grid__item xs-mb3">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/23/8/campaign_images/buzzfeed-prod-fastlane01/which-festive-movie-quotes-make-you-feel-all-warm-2-17464-1479907232-3_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">Which Festive Quotes Are You Rn?</h4></a>
  </div>

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/23/5/campaign_images/buzzfeed-prod-fastlane03/7-hilarious-jokes-by-philip-hammond-to-get-you-pu-2-10713-1479897812-0_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">7 HILARIOUS Jokes By Philip Hammond To Get You Pumped For Autumn</h4></a>
  </div>

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/21/17/campaign_images/buzzfeed-prod-web01/19-magical-gifts-for-people-who-love-harry-potter-2-5926-1479765915-0_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">19 Magical Gifts For People Who Love "Harry Potter"</h4></a>
  </div>

  <div class="block-grid__item xs-mb3">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/23/8/campaign_images/buzzfeed-prod-fastlane01/which-festive-movie-quotes-make-you-feel-all-warm-2-17464-1479907232-3_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">Which Festive Quotes Are You Rn?</h4></a>
  </div>

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/23/5/campaign_images/buzzfeed-prod-fastlane03/7-hilarious-jokes-by-philip-hammond-to-get-you-pu-2-10713-1479897812-0_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">7 HILARIOUS Jokes By Philip Hammond To Get You Pumped For Autumn</h4></a>
  </div>

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/21/17/campaign_images/buzzfeed-prod-web01/19-magical-gifts-for-people-who-love-harry-potter-2-5926-1479765915-0_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">19 Magical Gifts For People Who Love "Harry Potter"</h4></a>
  </div>

  <div class="block-grid__item xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/21/17/campaign_images/buzzfeed-prod-web01/19-magical-gifts-for-people-who-love-harry-potter-2-5926-1479765915-0_dblbig.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold"><h4 class="xs-text-5 sm-text-4 lg-text-3 link-gray">19 Magical Gifts For People Who Love "Harry Potter"</h4></a>
  </div>

</div>
