<div class="rounded xs-border-lighter news-header--black">
  <div class="xs-relative xs-border-top-none xs-p2 clearfix">

      <div class="clearfix buzzfeed-news-logo">
          <a href="/news">
          <svg viewBox="0 0 1294.2 150" class="buzzfeed-news-logo__svg xs-align-top">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#buzzfeed-news-logo"></use>
          </svg>
          </a>
      </div>


      <ul class="xs-p0">
          <li class="xs-text-5 xs-mt1 xs-mb2 list-unstyled">
            <a href="https://www.buzzfeed.com/emaoconnor/armed-individual-on-osu-campus" class="sidebar__link link-gray">
              The suspect in a Ohio State University attack used car and butcher knife, was shot and killed on scene. Nine were sent to hospitals.
            </a>
          </li>
          <li class="xs-text-5 xs-mt1 xs-mb2 list-unstyled">
            <a href="https://www.buzzfeed.com/mikehayes/judge-allows-dylann-roof-to-represent-himself-at-charleston" class="sidebar__link link-gray">
              Dylann Roof — who killed nine people at a historically black church in Charleston — is allowed to represent himself at
                  trial.
            </a>
          </li>
          <li class="xs-text-5 xs-mt1 xs-mb2 list-unstyled">
            <a href="https://www.buzzfeed.com/meghara/us-aid-dollars-phillipines" class="sidebar__link link-gray">
              The US continues to train and provide equipment to Philippine police on the front lines of a bloody war on drugs.
            </a>
          </li>
      </ul>
    

      <a href="/news" class="xs-block xs-text-5 bold">Get More News</a>

  </div>
</div>