<div class="xs-text-left text-gray">
  <h3 class="bold xs-text-2 xs-mb1">Now Buzzing</h3>

  <div class="xs-col-12 xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/21/17/campaign_images/buzzfeed-prod-web01/19-magical-gifts-for-people-who-love-harry-potter-2-5926-1479765915-0_dblwide.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">19 Magical Gifts For People Who Love "Harry Potter"</h4></a>
  </div>

  <div class="xs-col-12 xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-08/19/16/tmp/buzzfeed-prod-fastlane-01/tmp-name-2-10022-1503173715-0_dblwide.jpg?downsize=315:*&output-format=auto&output-quality=auto" class="xs-block xs-mb05" />
    <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">Build Yourself A House To Live In And We'll Reveal Your True Zodiac Sign</h4></a>
  </div>

  <div class="xs-col-12 xs-mb3">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/23/8/campaign_images/buzzfeed-prod-fastlane01/which-festive-movie-quotes-make-you-feel-all-warm-2-17464-1479907232-3_wide.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">Which Festive Quotes Are You Rn?</h4></a>
  </div>

  <div class="xs-col-12 xs-mb2">
    <img src="../css/images/adunit2.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">11 Stages Of Realizing You Have A New Favorite Song</h4></a>
  </div>

  <div class="xs-col-12 xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/23/9/campaign_images/buzzfeed-prod-fastlane03/buzzzzzzzzzzzzzzzzzzzz-2-15461-1479909695-4_wide.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">27 Bee Movie Jokes That Are Just Too Fucking Much</h4></a>
  </div>

  <div class="xs-col-12 xs-mb2">
    <img src="../css/images/adunit3.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">I Turned My Bedroom Into A Stress-Free Sanctuary So I Could Live</h4></a>
  </div>

  <div class="xs-col-12 xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/22/11/campaign_images/buzzfeed-prod-fastlane01/it-me-on-thanksgiving-2-29998-1479830668-8_wide.jpg" />
    <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">22 Tweets About Thanksgiving That Will Make You Say "Me"</h4></a>
  </div>

  <div class="xs-col-12 xs-mb2">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/23/5/campaign_images/buzzfeed-prod-fastlane03/7-hilarious-jokes-by-philip-hammond-to-get-you-pu-2-10713-1479897812-0_wide.jpg" class="xs-block xs-mb05" />
    <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">7 HILARIOUS Jokes By Philip Hammond To Get You Pumped For Autumn</h4></a>
  </div>


  <!--THIS SNIPPET TELLS THE ADS BELOW TO STICK WHEN THE BOTTOM OF TRENDING HITS THE TOP OF THE PAGE-->
  <div id="sticky-anchor"></div>
  <!--END OF STICKY SNIPPET-->

  <div id="sticky" class="sticky-feed">

    <div class="xs-col-12 xs-mb2">
      <img src="https://preview.ibb.co/md20wk/adunit.jpg" class="xs-block xs-mb05" />
      <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">8 DIY Winesicles You Have To Try This Summer</h4></a>
    </div>
    <div class="xs-col-12 xs-mb2">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-08/17/22/tmp/buzzfeed-prod-fastlane-03/tmp-name-2-30179-1503024770-6_wide.jpg?output-format=auto&output-quality=auto&resize=625:*" class="xs-block xs-mb05" />
      <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">How Weird Are Your Pie Opinions?</h4></a>
    </div>
    <div class="xs-col-12 xs-mb2">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-08/16/17/campaign_images/buzzfeed-prod-fastlane-03/plan-a-summer-day-and-well-choose-your-next-vacat-2-22394-1502919070-0_wide.jpg" class="xs-block xs-mb05" />
      <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">Plan A Summer Day And We'll Choose Your Next Vacation Spot</h4></a>
    </div>
    <div class="xs-col-12 xs-mb2">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-08/21/2/campaign_images/buzzfeed-prod-fastlane-01/literally-just-the-best-twitter-reactions-to-this-2-6317-1503297161-0_dblwide.jpg" class="xs-block xs-mb05" />
      <a href="#" class="bold link-gray"><h4 class="xs-text-4 lg-text-3">Something Huge Went Down On "Game Of Thrones" And People Can't Handle It</h4></a>
    </div>

  </div>

</div>
