<div class="xs-mb5">
  <h2 class="bold xs-mb2">What do you think?</h2>
  <div class="flex reactions__wrapper">
    <div class="reaction__badge rounded extra-bold flex xs-flex-grow-1 xs-flex-align-center xs-flex-justify-center xs-flex-shrink-0 xs-inline-block xs-text-5 xs-px2 xs-py1 fill-yellow">
      <svg class="svg-pink svg-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        <title>Heart filled</title>
        <path d="M38 11.3c0-5.8-5.1-10.2-10.9-10.2-3.7 0-5.6 1.4-8.1 3.8-2.4-2.4-4.3-3.8-8.1-3.8C5.1 1.1 0 5.5 0 11.3c0 1.9-.1 6.6 5.1 11.8L17 35c.4.5 1.2 1 2 1s1.6-.5 2-1l11.9-11.9c5.2-5.2 5.1-9.9 5.1-11.8z"/>
      </svg>
    </div>
    <div class="reaction__badge rounded extra-bold flex xs-flex-grow-1 xs-flex-align-center xs-flex-justify-center xs-flex-shrink-0 xs-inline-block xs-text-5 xs-px2 xs-py1 fill-yellow">
      <svg class="svg-pink svg-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        <title>Heart broken</title>
        <path d="M38 11.3c0-5.8-5-10.2-10.8-10.2-.6 0-1.1.3-1.5.7-.4.4-.6 1-.5 2L27 17l-8 3v10l-8-12 9-5c.8-.5 1-1.2 1-2 0-1.1-.1-4-2-6.1-2.3-2.6-4.3-3.8-8.1-3.8C5.1 1.1 0 5.5 0 11.3c0 1.9-.1 6.6 5.1 11.8L17 35c.4.5 1.2 1 2 1s1.6-.5 2-1l11.9-11.9c5.2-5.2 5.1-9.9 5.1-11.8z"/>
      </svg>
    </div>
    <div class="reaction__badge rounded extra-bold flex xs-flex-grow-1 xs-flex-align-center xs-flex-justify-center xs-flex-shrink-0 xs-inline-block xs-text-5 xs-px2 xs-py1 fill-yellow">LOL</div>
    <div class="reaction__badge rounded extra-bold flex xs-flex-grow-1 xs-flex-align-center xs-flex-justify-center xs-flex-shrink-0 xs-inline-block xs-text-5 xs-px2 xs-py1 fill-yellow">FAIL</div>
    <div class="reaction__badge rounded extra-bold flex xs-flex-grow-1 xs-flex-align-center xs-flex-justify-center xs-flex-shrink-0 xs-inline-block xs-text-5 xs-px2 xs-py1 fill-yellow">OMG</div>
    <div class="reaction__badge rounded extra-bold flex xs-flex-grow-1 xs-flex-align-center xs-flex-justify-center xs-flex-shrink-0 xs-inline-block xs-text-5 xs-px2 xs-py1 fill-yellow">WTF</div>
    <div class="reaction__badge rounded extra-bold flex xs-flex-grow-1 xs-flex-align-center xs-flex-justify-center xs-flex-shrink-0 xs-inline-block xs-text-5 xs-px2 xs-py1 fill-yellow">CUTE</div>
    <div class="reaction__badge rounded extra-bold flex xs-flex-grow-1 xs-flex-align-center xs-flex-justify-center xs-flex-shrink-0 xs-inline-block xs-text-5 xs-px2 xs-py1 fill-yellow">YAAASSS</div>
  </div>
</div>