.wrapper {
  max-width: 67rem;
}

.buzzfeed-svg {
  width: 7rem;
  top: 1px; //to align with text (xs-relative is declared on the element)
  fill: $fill-red;
  &--news {
    width: 9rem;
    top: 2px;
  }
}

.avatar {
  width: 3rem;
}

.sharebar-button {
  height: 2.625rem;
}

.share-more {
  
  .share-more__icon {
    fill: white;
    width: 1.25rem;
    height: 1.25rem;
    top: 2px;
  }
  
  .share-more__button {
    background-color: $fill-blue;
    border: none;
    border-radius: $border-radius;
    height: 2.625rem;
  }
  
}


.more {
  
  .more__button {
    background-color: $fill-blue;
    border: none;
    border-radius: $border-radius;
    height: 2.625rem;
  }
  
}

.sharebar-subbuzz--facebook {
  border: .5px solid $fill-facebook;
  color: $fill-facebook;
  background: none;
  height: 2rem;
  font-size: $text-5;
}

.sharebar-subbuzz--pinterest {
  border: .5px solid $fill-pinterest;
  color: $fill-pinterest;
  background: none;
  height: 2rem;
  font-size: $text-5;
}

.share-subbuzz__icon-pinterest {
  width: 1rem;
  height: 1rem;
  fill: $fill-pinterest;
  margin-right: .5rem;
}

.share-subbuzz__icon-facebook{
  width: 1rem;
  height: 1rem;
  fill: $fill-facebook;
  margin-right: .5rem;
}



.button--icon > svg {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.button--email {
  background-color: $fill-gray !important;
}