body {
  font-family: "Proxima Nova", "proxima-nova", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

.bold {
  font-weight: 600 !important;
}

.wrapper {
  max-width: 67rem;
}

// Buzz Title
.buzz-title {

  @include solid-breakpoint("xs") {
    font-size: $text-1;
  }

  @include solid-breakpoint("md") {
    font-size: 2.625rem;
  }
}

.subbuzz-header {

  @include solid-breakpoint("md") {
    font-size: 1.625rem;
  }
}

.buzzfeed-svg {
  width: 7rem;
  top: 1px; //to align with text (xs-relative is declared on the element)
  fill: $fill-red;
  &--news {
    width: 9rem;
    top: 2px;
  }
}

.avatar {
  width: 3rem;
}

.sharebar-button {
  height: 2.625rem;
}

.share-more {

  .share-more__icon {
    fill: white;
    width: 1.25rem;
    height: 1.25rem;
    top: 2px;
  }

  .share-more__button {
    background-color: $fill-blue;
    border: none;
    border-radius: $border-radius;
    height: 2.625rem;
  }

}


.more {

  .more__button {
    background-color: $fill-blue;
    border: none;
    border-radius: $border-radius;
    height: 2.625rem;
  }

}

.sharebar-subbuzz--facebook {
  border: .5px solid $fill-facebook;
  color: $fill-facebook;
  background: none;
  height: 2rem;
  font-size: $text-5;
}

.sharebar-subbuzz--pinterest {
  border: .5px solid $fill-pinterest;
  color: $fill-pinterest;
  background: none;
  height: 2rem;
  font-size: $text-5;
}

.share-subbuzz__icon-pinterest {
  width: 1rem;
  height: 1rem;
  fill: $fill-pinterest;
  margin-right: .5rem;
}

.share-subbuzz__icon-facebook{
  width: 1rem;
  height: 1rem;
  fill: $fill-facebook;
  margin-right: .5rem;
}


.button--email {
  background-color: $fill-gray !important;
}

.email-newsletter {
  display: block;
  position: relative;
  width: 100%;
  min-height: 6.25rem;
  background-image: url("http://i68.tinypic.com/1euxz6.png");
  background-color: $fill-blue;
  background-size: 30rem;
}

.ad-unit {
  border-top: 8px solid $fill-promoted-orange !important;
}

.ad-user--image {
  width: 2rem;
  height: 2rem;
}

.news-header--black {
  border-top: 8px solid $text-gray !important;
}

.facebook-header--blue {
  border-top: 8px solid $fill-blue !important;
}

.buzzfeed-news-logo__svg {
  width: 8rem;
}

.article-caption {
  white-space: nowrap;
}


//// Filestack

#filestack-container {
  width: 660px;
  height: 660px;
}

.img-icon {
  width: 1rem;
  height: 1rem;
  bottom: 1px;
  position: relative;
}


.filestack-border {
  border: 2px dotted #c7c7c7;
}

.video-icon-large {
  width: 4rem;
  height: 4rem;
}


.remove-file-x {
  right: -.5rem;
  top: -.5rem;
}

//// Add Yours
.add-yours-bg {

  @include solid-breakpoint("sm") {
    background-color: $fill-gray-lighter;
    border: $border-lighter;
  }
}

//// Flex Class Prefixes

.flex {
 display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
 display: -ms-flexbox;  /* TWEENER - IE 10 */
 display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
 display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

@include generate-breakpoint-prefixes {
  &flex-justify-space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

////font size tests

.article-17, .list-17 {
  p, li {

    @include solid-breakpoint("md") {
      font-size: 17px;
    }
  }
}


.article-18, .list-18 {
    p {

      @include solid-breakpoint("md") {
        font-size: 18px;
      }
    }
  }



  ////reactions

.extra-bold {
  font-weight: 800;
}

.reactions__wrapper {
  justify-content: space-between;
  max-width: 690px;
  overflow-x: scroll;
}

.reactions__wrapper::-webkit-scrollbar {
  display:none;
}

.reaction__badge {
  margin: 0 $space-05;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    background-color: $fill-yellow;

    &:hover {
      background-color: desaturate($fill-yellow, 5%);
    }
  }
}


.reaction__chart {
  background-color: darken($fill-yellow-lighter, 8%);
}


.subbuzz-title {

  @include solid-breakpoint("xs") {
    font-size: $text-3;
  }

  @include solid-breakpoint("md") {
    font-size: 1.625rem;
  }

}



/// Breaking News Styles

.update-subbuzz-share {

  @include solid-breakpoint("md") {
    margin-left: auto;
  }
}

.update-timestamp {

  @include solid-breakpoint("md") {
    margin-left: -1.325rem;
  }

  svg {
    margin-top: -2px;
  }
}


.update-share-buttons  {

  @include solid-breakpoint("xs") {
    width: 2.125rem;
    border-radius: 50%;
    height: 2.125rem;
    margin-right: .625rem;

    svg {
      margin-top: 7px;
      margin-left: 10px;
    }
  }

  @include solid-breakpoint("md") {
    width: 1.85rem;
    border-radius: 50%;
    height: 1.85rem;
    margin-right: $space-1;

    svg {
      margin-top: 3px;
      margin-left: 8px;
    }
  }
}


/// Stick the Ads

#sticky.stick {
  position: fixed;
  top: 1rem;
  width: 315px !important;
}
