
.sticky-nav {
  position: fixed;
  display: block;
  height: 55px;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

.image-outset-left {

  @include solid-breakpoint("md") {
    margin-left: -6rem;
  }
}

.image-outset-right {

  @include solid-breakpoint("md") {
    margin-right: -6rem;
  }
}

.serif-font {

  p { 
    font: 18px/30px Georgia,Cambria,serif
  }
}

.caption-feature {
   font-family: "Proxima Nova" !important;
}
